<!-- extending mainloginlogout -->
{% extends "dfirtrack_main/mainloginlogout.html" %}

<!-- HTML head in mainloginlogout -->
{% block head %}

<!-- page title -->
<title>
    500
</title>

<!-- static files -->
{% load static %}

<!-- HTML head in mainloginlogout -->
{% endblock %}

<!-- HTML body in mainloginlogout -->
{% block content %}

<!-- main content -->
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>Something went terribly wrong - 500</h3>
        </div>
    </div>
</div>

<!-- HTML body in mainloginlogout -->
{% endblock %}
