<!-- extending mainloginlogout -->
{% extends "dfirtrack_main/mainloginlogout.html" %}

<!-- HTML head in mainloginlogout -->
{% block head %}

<!-- page title -->
<title>
    Login
</title>

{% load static %}

<!-- HTML head in mainloginlogout -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in mainloginlogout -->
{% block content %}

<!-- overall container -->
<div class="container">

    <!-- row -->
    <div class="row justify-content-center">

        <!-- column -->
        <div class="col-4">
            
            <!-- headline -->
            <h3>
                Welcome
            </h3>

            <!-- form -->
            <form method="post">

                {% csrf_token %}

                <!-- include standard form -->
                {{ form.as_p }}

            <!-- login button -->
            <button class="btn btn-light copy-false" type="submit">
                <img src="{% static 'dfirtrack_main/icons/account-login.svg' %}" class="icon right-distance copy-false" alt="icon">
                Login
            </button>

            <!-- form -->
            </form>

        <!-- column -->
        </div>

    <!-- row -->
    </div>

<!-- overall container -->
</div>

<!-- HTML body in mainloginlogout -->
{% endblock %}
