<!-- extending mainloginlogout -->
{% extends "dfirtrack_main/mainloginlogout.html" %}

<!-- HTML head in mainloginlogout -->
{% block head %}

<!-- page title -->
<title>
    Logout
</title>

{% load static %}

<!-- HTML head in mainloginlogout -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML head in mainloginlogout -->
{% block content %}

<!-- overall container -->
<div class="container">

    <!-- row -->
    <div class="row justify-content-center">

        <!-- column -->
        <div class="col-4">

            <!-- headline -->
            <h3>
                See you soon...
            </h3>

            <!-- login link button -->
            <a href="/login" type="button" class="btn btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/account-login.svg' %}" class="icon right-distance copy-false" alt="icon">
                Back to Login
            </a>

        <!-- column -->
        </div>

    <!-- row -->
    </div>
<!-- overall container -->
</div>

<!-- HTML head in mainloginlogout -->
{% endblock %}
