<!DOCTYPE html>
<html lang="en">

<!-- HTML head -->
<head>

<!-- HTML head from templates -->
{% block head %}
{% endblock %}

<meta charset="utf-8" />

{% load static %}

<!-- bootstrap CSS -->
<link rel="stylesheet" href="{% static 'dfirtrack_main/bootstrap-4.0.0/css/bootstrap.min.css' %}" type = "text/css"/>

<meta name="viewport" content = "width=device-width, initial-scale=1.0">

<style type="text/css">
    html,
    body {
      height:100%
    }
</style>

<!-- custom CSS -->
<link rel="stylesheet" href="{% static 'dfirtrack_main/dfirtrack/dfirtrack.css' %}" type = "text/css"/>
<!-- custom javascript -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>

<!-- HTML head -->
</head>

<!-- ############################################ -->

<!-- HTML body -->
<body class="body bg-dark text-light">

<!-- overall container -->
<div class="container-fluid">

    <!-- HTML body from templates -->
    {% block content %}
    {% endblock %}

<!-- overall container -->
</div>

<!-- bootstrap relevant javascript -->
<script src="{% static 'dfirtrack_main/jquery-3.5.1/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'dfirtrack_main/popper-1.12.9/popper.min.js' %}"></script>
<script src="{% static 'dfirtrack_main/bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>

<!-- HTML body -->
</body>

</html>
