<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Recommendations
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>Recommendations</h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- recommendation id -->
    <div class="col-1">
        ID
    </div>

    <!-- recommendation name -->
    <div class="col-2">
        Recommendation
    </div>

    <!-- system headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- recommendation note -->
    <div class="col-8">
        Note
    </div>

<!-- headlines -->
</div>

<!-- recommendation list -->
{% for i in recommendation_list %}

    <!-- recommendation row -->
    <div class="row top-distance">

        <!-- recommendation id -->
        <div class="col-1">
            {{ i.recommendation_id }}
        </div>

        <!-- recommendation name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.recommendation_name }}
            </a>
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.system_set.all|length }}
        </div>

        <!-- recommendation note -->
        <div class="col-7">
            {% if i.recommendation_note %}
                {{ i.recommendation_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- recommendation row -->
    </div>

<!-- recommendation list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'recommendation_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add recommendation
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
