<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Reportitem '{{ reportitem.system.system_name }}{% if reportitem.system.dnsname %}.{{ reportitem.system.dnsname }}{% endif %}'
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'reportitem_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to reportitems
        </a>
    </div>
</div>

<!-- reportitem headline and subheadline row-->
<div class="row">

    <div class="col-3">
        <h5>

            <!-- headline and subheadline -->
            {{ reportitem.headline }}
            {% if reportitem.reportitem_subheadline %}
                - {{ reportitem.reportitem_subheadline }}
            {% endif %}

            <!-- system -->
            <a href="{{ reportitem.system.get_absolute_url }}" type="button" class="btn btn-primary btn-sm btn-lg copy-true">
                <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
                {{ reportitem.system.system_name }}
            </a>

        </h5>
    </div>

<!-- reportitem headline and subheadline row-->
</div>

<!-- reportitem id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Reportitem-ID: {{ reportitem.reportitem_id }}
        </small>
    </div>
</div>

<!-- reportitem note headline -->
<div class="row">
    <div class="col-3">
        <h5>
            Note
        </h5>
    </div>
</div>

<!-- reportitem note -->
<div class="row bottom-distance">
    <div class="col">
        {{ reportitem.reportitem_note|linebreaks }}
    </div>
</div>

<!-- meta information headline -->
<div class="row text-muted">
    <div class="col">
        <h5>
            Meta information
        </h5>
    </div>
</div>

<!-- meta information -->
<div class="row text-muted">

    <!-- reportitem create time -->
    <div class="col-3">
        <div class="font-weight-bold">
            Created:
        </div>
        {{ reportitem.reportitem_create_time|date:"Y-m-d H:i" }}
    </div>

    <!-- reportitem create user -->
    <div class="col-3">
        <div class="font-weight-bold">
            Created by:
        </div>
        {{ reportitem.reportitem_created_by_user_id }}
    </div>

    <!-- reportitem modify time -->
    <div class="col-3">
        <div class="font-weight-bold">
            Last modified:
        </div>
        {{ reportitem.reportitem_modify_time|date:"Y-m-d H:i" }}
    </div>

    <!-- reportitem modify user -->
    <div class="col-3">
        <div class="font-weight-bold">
            Modified by:
        </div>
        {{ reportitem.reportitem_modified_by_user_id }}
    </div>

<!-- meta information -->
</div>

<!-- edit button -->
<a href="{{ reportitem.get_update_url }}" type="button" class="btn btn-light top-distance copy-false">
    <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
    Edit
</a>

<!-- HTML body in maintemplate -->
{% endblock %}
