<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Add reportitem
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}
        
<!-- headline -->
<div class="bottom-distance">
    <h4>
        Add reportitem
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- ############################################ -->

    <!-- system name block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- system name headline row -->
        <div class="row">
            <div class="col-3">
                <h5>
                    System name (*):
                </h5>
            </div>
        </div>

        <!-- system name row -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- system name errors -->
                    <div class="text-danger">
                        {{ form.system.errors }}
                    </div>
                    {{ form.system }}
                </div>
            </div>
        </div>

    <!-- system name block -->
    </div>

    <!-- ############################################ -->

    <!-- headline and subheadline block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- headline -->
        <div class="row">
            <div class="col-3">
                <h5>
                    Headline (*):
                </h5>
                <div class="card card-body bg-dark border-light top-distance">
                    {{ form.headline }}
                </div>
            </div>
        </div>

        <!-- subheadline -->
        <div class="row">
            <div class="col-3">
                <div class="top-distance">
                    <h5>
                        Subheadline:
                    </h5>
                </div>
                <div class="card card-body bg-dark border-light top-distance">
                    {{ form.reportitem_subheadline }}
                </div>
            </div>
        </div>

    <!-- headline and subheadline block -->
    </div>

    <!-- ############################################ -->

    <!-- reportitem note block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- reportitem note headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Note (*):
                </h5>
            </div>
        </div>

        <!-- reportitem note -->
        <div class="row">
            <div class="col">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- reportitem note errors -->
                    <div class="text-danger">
                        {{ form.reportitem_note.errors }}
                    </div>
                    {{ form.reportitem_note }}
                </div>
            </div>
        </div>

    <!-- reportitem note block -->
    </div>

    <!-- ############################################ -->

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>
    
<!-- HTML body in maintemplate -->
{% endblock %}
