html,body { height: 100%;width:100%; margin: 0px; padding: 0px; }
#main { background: lightgrey; height: 100%; width:100%; }

.vis-timeline {
    border: 2px solid #666666;

    height:600px;
    font-size: 12pt;
}

.vis-item {
    border-color: #999999;
    background-color: #cccccc;
    font-size: 15pt;
    color: white;
    box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}

.vis-item.log {
    background-color: limegreen;
    border-color: darkseagreen;
}

.vis-item.file {
    background-color: gold;
    border-color: goldenrod;
}

.vis-item.human {
    background-color: palevioletred;
    border-color: chocolate;
}

.vis-item.engagement {
    background-color: lightskyblue;
    border-color: dimgrey;
}

.vis-item.lateral {
    background-color: lightseagreen;
    border-color: darkcyan;
}

.vis-item.exfil {
    background-color: plum;
    border-color: mediumorchid;
}

.vis-item.tanium {
    background-color: palevioletred;
    border-color: darkred;
}

.vis-item.malware {
    background-color: firebrick;
    border-color: darkred;
}

.vis-item.email {
    background-color: dodgerblue;
    border-color: darkslateblue;
}

.vis-item.misc {
    background-color: darksalmon;
    border-color: indianred;
}


.vis-item,
.vis-item.vis-line {
    border-width: 3px;
}

.vis-item.vis-dot {
    border-width: 5px;
    border-radius: 10px;
}

.vis-item.vis-selected {
    border-color: #777777;
    background-color: #aaaaaa;
}

.vis-time-axis .vis-text {
    color: #cccccc;
    padding-top: 10px;
    padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
    font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
    border-width: 2px;
    border-color: #cccccc;
}

.vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: #eeeeee;
}

#graph {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
}
