name: Django Tests

on:
  push:
    branches:
    - master
    - develop
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 8
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        python-version: [3.6, 3.7, 3.8]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: dfirtrack
          POSTGRES_PASSWORD: dfirtrack
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install psycopg2 prerequisites
      run: sudo apt-get install python-dev libpq-dev
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests using coverage and convert result
      run: |
        coverage run manage.py test --settings=dfirtrack.test_settings
        coverage json -o .coverage.json
        coverage xml -o .coverage.xml
    - name: Upload result to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./.coverage.xml
    - name: Save JSON report for debugging
      uses: actions/upload-artifact@v2
      with:
        name: coverage_json
        path: .coverage.json
    - name: Save SQLite report for debugging
      uses: actions/upload-artifact@v2
      with:
        name: coverage_sqlite
        path: .coverage
    - name: Save XML report for debugging
      uses: actions/upload-artifact@v2
      with:
        name: coverage_xml
        path: .coverage.xml
