[submodule "Tools/Aurora-Incident-Response"]
	path = Tools/Aurora-Incident-Response
	url = https://github.com/cyb3rfox/Aurora-Incident-Response.git
[submodule "Tools/grr"]
	path = Tools/grr
	url = https://github.com/google/grr.git
[submodule "Tools/Loki"]
	path = Tools/Loki
	url = https://github.com/Neo23x0/Loki.git
[submodule "Tools/cyphon"]
	path = Tools/cyphon
	url = https://github.com/cyphonmdr/cyphon.git
[submodule "Tools/dfirtrack"]
	path = Tools/dfirtrack
	url = https://github.com/stuhli/dfirtrack.git
[submodule "Tools/TheHive"]
	path = Tools/TheHive
	url = https://github.com/TheHive-Project/TheHive.git
[submodule "Tools/beagle"]
	path = Tools/beagle
	url = https://github.com/yampelo/beagle.git
[submodule "Tools/Meerkat"]
	path = Tools/Meerkat
	url = https://github.com/TonyPhipps/Meerkat.git
