<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Taskpriority '{{ taskpriority.taskpriority_name }}'{% if taskpriority.task_set.all %} (t: {{ taskpriority.task_set.all|length }}){% endif %}
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'taskpriority_list' %}" type="button" class="btn btn-light">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon" alt="icon">
            Up to taskpriorities
        </a>
    </div>
</div>

<!-- taskpriority name row -->
<div class="row">

    <!-- taskpriority name -->
    <div class="col-3">
        <h5>
            Taskpriority
            {% with taskpriority=taskpriority %}
                {% include "dfirtrack_main/includes/button_taskpriority.html" %}
            {% endwith %}
            {{ taskpriority.taskpriority_name }}
        </h5>
    </div>

<!-- taskpriority name row -->
</div>

<!-- taskpriority id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Taskpriority-ID: {{ taskpriority.taskpriority_id }}
        </small>
    </div>
</div>

<!-- task headline -->
<div class="row">
    <div class="col-6">
        <h5>
            Tasks with this priority{% if taskpriority.task_set.all %} ({{ taskpriority.task_set.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- tasks -->
{% if taskpriority.task_set.all %}

    {% for i in taskpriority.task_set.all %}
        <div class="row top-distance">
            <div class="col-3">
                <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm sharp copy-true">
                    <img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    {{ i.taskname }}
                    {% if i.system %}
                        | {{ i.system.system_name }}
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}

<!-- no tasks -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- tasks -->
{% endif %}

<!-- HTML body in maintemplate -->
{% endblock %}
