<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Taskpriorities
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Taskpriorities
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- taskpriority id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- taskpriority name headline -->
    <div class="col-10">
        Taskpriority
    </div>

<!-- headlines -->
</div>

<!-- taskpriority list -->
{% for i in taskpriority_list %}

    <!-- taskpriority row -->
    <div class="row top-distance">

        <!-- taskpriority id -->
        <div class="col-1">
            {{ i.taskpriority_id }}
        </div>

        <!-- taskpriority name -->
        <div class="col-11">
            <a href="{{ i.get_absolute_url }}">
                {% with taskpriority=i %}
                    {% include "dfirtrack_main/includes/button_taskpriority.html" %}
                {% endwith %}
                {{ i.taskpriority_name }}
            </a>
        </div>

    <!-- taskpriority row -->
    </div>

<!-- taskpriority list -->
{% endfor %}

<!-- HTML body in maintemplate -->
{% endblock %}
