<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Contact '{{ contact.contact_name }}'
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'contact_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to contacts
        </a>
    </div>
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- contact name row -->
<div class="row">

    <!-- contact name -->
    <div class="col-3">
        <h5>
            Contact "{{ contact.contact_name }}"
        </h5>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if contact.system_set.all %}
            {% with systems=contact.system_set.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- contact name row -->
</div>

<!-- contact id row -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Contact-ID: {{ contact.contact_id }}
        </small>
    </div>
</div>

<!-- contact phone headline row -->
<div class="row">
    <div class="col-3">
        <h5>
            Phone
        </h5>
    </div>
</div>

<!-- contact phone row -->
<div class="row bottom-distance">
    <div class="col-3">
        {% if contact.contact_phone %}
            {{ contact.contact_phone }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- contact email headline row -->
<div class="row">
    <div class="col-3">
        <h5>
            Email
        </h5>
    </div>
</div>

<!-- contact email row -->
<div class="row bottom-distance">
    <div class="col-3">
        {{ contact.contact_email }}
    </div>
</div>

<!-- contact note headline row -->
<div class="row">
    <div class="col-3">
        <h5>Note</h5>
    </div>
</div>

<!-- contact note row -->
<div class="row bottom-distance">
    <div class="col">
        {% if contact.contact_note %}
            {{ contact.contact_note|linebreaks }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- systems headline -->
<div class="row">
    <div class="col-3">
        <h5>
            Contact is relevant for this systems
        </h5>
    </div>
</div>

<!-- systems -->
{% if contact.system_set.all %}
    {% for i in contact.system_set.all %}
        <div class="row top-distance">
            <div class="col-3">
                <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm copy-true">
                    <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    {{ i.system_name }}
                </a>
            </div>
        </div>
    {% endfor %}

<!-- no systems -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- systems -->
{% endif %}

<!-- edit button -->
<a href="{{ contact.get_update_url }}" type="button" class="btn btn-light top-distance copy-false">
    <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
    Edit
</a>

<!-- HTML body in maintemplate -->
{% endblock %}
