<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Artifactpriority '{{ artifactpriority.artifactpriority_name }}'{% if artifactpriority.artifact_set.all %} (a: {{ artifactpriority.artifact_set.all|length }}){% endif %}
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'artifacts_artifactpriority_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to artifactpriority
        </a>
    </div>
</div>

<!-- artifactpriority name row -->
<div class="row">

    <!-- artifactpriority name -->
    <div class="col-3">
        <h5>
            Artifactpriority 
            {% with artifactpriority=artifactpriority %}
                {% include "dfirtrack_artifacts/includes/button_artifactpriority.html" %}
            {% endwith %}
            {{ artifactpriority.artifactpriority_name }}
        </h5>
    </div>

<!-- artifactpriority name row -->
</div>

<!-- artifactpriority id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Artifactpriority-ID: {{ artifactpriority.artifactpriority_id }}
        </small>
    </div>
</div>

<!-- artifactpriority note headline -->
<div class="row">
    <div class="col-3">
        <h5>
            Note
        </h5>
    </div>
</div>

<!-- artifactpriority note -->
<div class="row bottom-distance">
    <div class="col">
        {% if artifactpriority.artifactpriority_note %}
            {{ artifactpriority.artifactpriority_note|linebreaks }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- artifact headline -->
<div class="row">
    <div class="col-6">
        <h5>
            Artifacts with this priority{% if artifactpriority.artifact_set.all %} ({{ artifactpriority.artifact_set.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- artifacts -->
{% if artifactpriority.artifact_set.all %}

    <!-- datatable artifact -->
    <table id="table_artifact" class="display" width="100%">

        <!-- table head -->
        <thead>
            {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
        </thead>

        <!-- table body -->
        <tbody>
            {% for i in artifactpriority.artifact_set.all %}
                {% include "dfirtrack_artifacts/includes/datatable_tbody_table_artifact.html" %}
            {% endfor %}
        </tbody>

    </table>

    <!-- javascript for datatables -->
    <script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

<!-- no artifacts -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- artifacts -->
{% endif %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
