"""
Django settings for DFIRTrack project provided with Ansible.

These settings extend the defaul dfirtrack.settings.
"""

ALLOWED_HOSTS = ['{{ fqdn }}','localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ postgresql_database }}',
        'USER': '{{ postgresql_user }}',
        'PASSWORD': '{{ postgresql_user_password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}

DEBUG = False

DATA_UPLOAD_MAX_NUMBER_FIELDS = 10000

STATIC_ROOT = '{{ www_dir }}/static/'
