<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<title>
    DFIRTrack - Cases
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Cases
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- case id -->
    <div class="col-1">
        ID
    </div>

    <!-- case name -->
    <div class="col-2">
        Case name
    </div>

    <!-- case is incident -->
    <div class="col-1">
        Incident
    </div>

    <!-- case create time -->
    <div class="col-2">
        Created
    </div>

    <!-- case create user -->
    <div class="col-1">
        Created by
    </div>

<!-- headlines -->
</div>

<!-- case list -->
{% for i in case_list %}

    <!-- case row -->
    <div class="row top-distance">

        <!-- case id -->
        <div class="col-1">
            {{ i.case_id }}
        </div>

        <!-- case name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.case_name }}
            </a>
        </div>

        <!-- case is incident -->
        <div class="col-1">
            {{ i.case_is_incident }}
        </div>

        <!-- case create time -->
        <div class="col-2 text-secondary">
            {{ i.case_create_time|date:"Y-m-d H:i" }}
        </div>

        <!-- case create user -->
        <div class="col-1 text-secondary">
            {{ i.case_created_by_user_id }}
        </div>

        <!-- placeholder -->
        <div class="col-4"></div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- case row -->
    </div>

<!-- case list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'case_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add case
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
