<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Locations
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Locations
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- location id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- location name headline -->
    <div class="col-2">
        Location name
    </div>

    <!-- system headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- location note headline -->
    <div class="col-8">
        Note
    </div>

<!-- headlines -->
</div>

<!-- location list -->
{% for i in location_list %}

    <!-- location row -->
    <div class="row top-distance">

        <!-- location id -->
        <div class="col-1">
            {{ i.location_id }}
        </div>

        <!-- location name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.location_name }}
            </a>
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.system_set.all|length }}
        </div>

        <!-- location note -->
        <div class="col-7">
            {% if i.location_note %}
                {{ i.location_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>
        
        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- location row -->
    </div>

<!-- location list -->
{% endfor %}

<!-- button row -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'location_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add location
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
