<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Domainuser '{{ domainuser.domainuser_name }}' ({{ domainuser.domain.domain_name }})
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'domainuser_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to domainusers
        </a>
    </div>
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- domainuser name / domain row -->
<div class="row">

    <div class="col-3">
        <h5>
            <!-- domainuser name -->
            domainuser "{{ domainuser.domainuser_name }}" at domain
            <!-- domain -->
            <a href="{{ domainuser.domain.get_absolute_url }}">
                {{ domainuser.domain.domain_name }}
            </a>
            <!-- domainuser admin -->
            {% if domainuser.domainuser_is_domainadmin %}
                (Admin)
            {% endif %}
        </h5>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if domainuser.system_was_logged_on.all %}
            {% with systems=domainuser.system_was_logged_on.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- domainuser name / domain row -->
</div>

<!-- domainuser id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Domainuser-ID: {{ domainuser.domainuser_id }}
        </small>
    </div>
</div>

<!-- system headline -->
<div class="row">
    <div class="col-6">
        <h5>
            Domainuser was logged on on this systems {% if domainuser.system_was_logged_on.all %} ({{ domainuser.system_was_logged_on.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- systems -->
{% if domainuser.system_was_logged_on.all %}

    {% for i in domainuser.system_was_logged_on.all %}
        <div class="row top-distance">
            <div class="col-3">
                <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm copy-true">
                    <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    {{ i.system_name }}
                </a>
            </div>
        </div>
    {% endfor %}

<!-- no systems -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- systems -->
{% endif %}

<!-- edit button -->
<a href="{{ domainuser.get_update_url }}" type="button" class="btn btn-light top-distance copy-false">
    <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
    Edit
</a>

<!-- HTML body in maintemplate -->
{% endblock %}
