{% extends "cyphon/base.html" %}
{% load staticfiles %}

{% block appcss %}
<link rel="stylesheet" type="text/css" href="{% static "appuser/css/appusers.css" %}">
{% endblock appcss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                {% block appusercontent %}  
                {% endblock appusercontent %}
                </div><!-- /panel-body -->
            </div><!-- /panel -->
        </div><!-- /col-md-4 -->
    </div><!-- /row -->
</div>
{% endblock %}