
<body style="margin: 0; padding: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333; font-weight: 300; background-color: #E6E6E6; letter-spacing: 0.6px; font-weight: 300; font-size: 14px; padding: 10px 0;">
    <table cellpadding="0" cellspacing="0" width="600px" style="margin: 20px auto; max-width: 600px; border: solid 1px #CCCCCC;">
        <tr>
        <td>
        <table cellpadding="0" cellspacing="0" width="600px">
            <tr>
                <td style="text-align: center; background-color: #8E2800; vertical-align: middle; width: 1%;"><img src="{{ protocol }}://{{ domain }}/assets/img/Cyphon-Logo-Web.png" alt="Cyphon" style="width: 200px; margin: 10px 20px;">
                </td>
                <td style="background-color: #1A1A1A; color: #FFFFFF; vertical-align: middle;"><h1 style="margin: 0 25px; font-weight: 400; font-size: 25px;">Registration</h1></td>
            </tr>
        </table>
        </td>
        </tr>
        <tr>
        <td>
        <table cellpadding="0" cellspacing="0" width="600px">
            <tr>
                <td style="padding: 25px 35px; background-color: #FFFFFF; line-height: 25px;">
                <p style="border-bottom: solid 1px #CCCCCC; padding-bottom: 20px; margin-bottom: 25px;">You've been registered to use Cyphon, ControlScans's platform for first response threat alerts. To activate your account, please click the button below within the next 3 days. If you fail to do so, please contact your supervisor for a new registration email.</p>
                <a href="{{ protocol }}://{{ domain }}/{{ registration_path }}/{{ uid }}/{{ token }}" style="width: 100%; background-color: #8E2800; display: block; color: #ffffff; text-decoration: none; text-align: center; font-size: 20px; padding: 15px 0;">Register</a>
                <p style="border-top: solid 1px #CCCCCC; padding-top: 20px; margin-top: 25px; font-size: 13px;">If the button doesn't work, please copy this url into your browser: <br>{{ protocol }}://{{ domain }}/{{ registration_path }}/{{ uid }}/{{ token }}<br>
                If the link doesn't work, godspeed.</p>
                </td>
            </tr>
        </table></td></tr>
    </table>
    
</body>