{% extends "appuser/base.html" %}
{% load widget_tweaks %}

{% block appusercontent %}
    <h1>User Registration</h1>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div><!-- /alert alert-danger -->
    {% endif %}
    <p>Email: {{ user.email }}</p>
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form_group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
