<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Companies
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Companies
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- company id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- company name headline -->
    <div class="col-2">
        Company name
    </div>

    <!-- division headline -->
    <div class="col-2">
        Division
    </div>

    <!-- syste headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- company note headline -->
    <div class="col-5">
        Note
    </div>

<!-- headlines -->
</div>

<!-- company list -->
{% for i in company_list %}

    <!-- company row -->
    <div class="row top-distance">

        <!-- company id -->
        <div class="col-1">
            {{ i.company_id }}
        </div>

        <!-- company name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.company_name }}
            </a>
        </div>

        <!-- division -->
        <div class="col-2">
            {% if i.division %}
                <a href="{{ i.division.get_absolute_url }}">
                    {{ i.division.division_name }}
                </a>
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.system_set.all|length }}
        </div>

        <!-- company note -->
        <div class="col-5">
            {% if i.company_note %}
                {{ i.company_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- company row -->
    </div>

<!-- company list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'company_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add company
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
