<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<title>
    Company '{{ company.company_name }}'{% if company.system_set.all %} (s: {{ company.system_set.all|length }}){% endif %}
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'company_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to companies
        </a>
    </div>
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- company name row -->
<div class="row">

    <!-- company name -->
    <div class="col-3">
        <h5>
            Company "{{ company.company_name }}"
        </h5>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if company.system_set.all %}
            {% with systems=company.system_set.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- company name row -->
</div>

<!-- company id row -->
<div class="row top-distance">
    <div class="col-3">
        <small class="text-muted">
            Company-ID: {{ company.company_id }}
        </small>
    </div>
</div>

<!-- division headline row -->
<div class="row top-distance">
    <div class="col-3">
        <h5>
            Division
        </h5>
    </div>
</div>

<!-- division row -->
<div class="row">
    <div class="col-3">
        {% if company.division %}
            <a href="{{ company.division.get_absolute_url }}">
                {{ company.division.division_name }}
            </a>
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- company note headline row -->
<div class="row top-distance">
    <div class="col-3">
        <h5>Note</h5>
    </div>
</div>

<!-- company note row -->
<div class="row">
    <div class="col">
        {% if company.company_note %}
            {{ company.company_note|linebreaks }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- systems headline row -->
<div class="row top-distance">
    <div class="col-6">
        <h5>
            Systems belonging to this company{% if company.system_set.all %} ({{ company.system_set.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- systems -->
{% if company.system_set.all %}

    {% for i in company.system_set.all %}
        <div class="row top-distance">
            <div class="col-3">
                <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm copy-true">
                    <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    {{ i.system_name }}
                </a>
            </div>
        </div>
    {% endfor %}

<!-- no systems -->
{% else %}
<div class="row top-distance">
    <div class="col-3">
        ---
    </div>
</div>

<!-- systems -->
{% endif %}

<!-- edit button -->
<a href="{{ company.get_update_url }}" type="button" class="btn btn-light top-distance copy-true">
    <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-true" alt="icon">
    Edit
</a>

<!-- HTML body in maintemplate -->
{% endblock %}
