{% load static %}
<!--
FOR NEW TASKPRIORITIES ADD NEW BUTTONS HERE
-->

<!-- taskpriority '30_high' -->
{% if taskpriority.taskpriority_name == '30_high' %}
    <div class="btn btn-primary btn-sm btn-red copy-false">
        <img src="{% static 'dfirtrack_main/icons/arrow-thick-top.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

<!-- taskpriority '20_medium' -->
{% elif taskpriority.taskpriority_name == '20_medium' %}
    <div class="btn btn-primary btn-sm btn-orange copy-false">
        <img src="{% static 'dfirtrack_main/icons/arrow-thick-right.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

<!-- taskpriority '10_low' -->
{% elif taskpriority.taskpriority_name == '10_low' %}
    <div class="btn btn-primary btn-sm btn-green copy-false">
        <img src="{% static 'dfirtrack_main/icons/arrow-thick-bottom.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

{% endif %}
