{% load static %}
<!--
FOR NEW TASKSTATUSES ADD NEW BUTTONS HERE
-->

<!-- taskstatus '10_pending' -->
{% if taskstatus.taskstatus_name == '10_pending' %}
    <div class="btn btn-light btn-sm copy-false">
        <img src="{% static 'dfirtrack_main/icons/moon.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

<!-- taskstatus '20_working' -->
{% elif taskstatus.taskstatus_name == '20_working' %}
    <div class="btn btn-light btn-sm copy-false">
        <img src="{% static 'dfirtrack_main/icons/clock.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

<!-- taskstatus '30_done' -->
{% elif taskstatus.taskstatus_name == '30_done' %}
    <div class="btn btn-light btn-sm copy-false">
        <img src="{% static 'dfirtrack_main/icons/check.svg' %}" class="icon-sm copy-false" alt="icon">
    </div>

{% endif %}
