<!-- table body for datatable task -->

{% load static %}

<!-- table row -->
<!-- (just one row, iterating over rows is done outside of this include file) -->
<tr>

    <!-- task id -->
    <td>
        {{ i.task_id }}
    </td>

    <!-- task name -->
    <td>
        <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm sharp copy-true">
            <img src="{% static 'dfirtrack_main/icons/task-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
            {{ i.taskname }}
        </a>
    </td>

    <!-- task note -->
    <td>
        {% if i.task_note %}
            {{ i.task_note }}
        {% else %}
            ---
        {% endif %}
    </td>

    <!-- task user -->
    <td>
        {% if i.task_assigned_to_user_id %}
            {{ i.task_assigned_to_user_id }}
        {% else %}
            ---
        {% endif %}
    </td>

    <!-- taskstatus -->
    <td>
        <a href="{{ i.taskstatus.get_absolute_url }}">
            {% with taskstatus=i.taskstatus %}
                {% include "dfirtrack_main/includes/button_taskstatus.html" %}
            {% endwith %}
            {{ i.taskstatus }}
        </a>
    </td>

    <!-- task renew button -->
    <td>
        <a href="{{ i.get_renew_url }}?system={{ system.system_id }}" type="button" class="btn btn-sm btn-secondary copy-false">
            <img src="{% static 'dfirtrack_main/icons/circle-x.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
            Renew
        </a>
    </td>

    <!-- taskpriority -->
    <td>
        <a href="{{ i.taskpriority.get_absolute_url }}">
            {% with taskpriority=i.taskpriority %}
                {% include "dfirtrack_main/includes/button_taskpriority.html" %}
            {% endwith %}
            {{ i.taskpriority }}
        </a>
    </td>

    <!-- task finished time -->
    <td>
        {% if i.task_finished_time %}
            {{ i.task_finished_time|date:"Y-m-d H:i" }}
        {% else %}
            ---
        {% endif %}
    </td>

<!-- table row -->
</tr>
