<!-- table body for datatable system -->

{% load static %}

<!-- table row -->
<!-- (just one row, iterating over rows is done outside of this include file) -->
<tr>

    <!-- system id -->
    <td>
        {{ i.system_id }}
    </td>

    <!-- system name -->
    <td>
        <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-primary btn-sm top-distance copy-true">
            <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {{ i.system_name }}
        </a>
    </td>

    <!-- systemstatus -->
    <td>
        {% with systemstatus=i.systemstatus %}
            {% include "dfirtrack_main/includes/button_systemstatus.html" %}
        {% endwith %}
    </td>

    <!-- analysisstatus -->
    <td>
        {% if i.analysisstatus %}
            <!-- tooltip with analysisstatus note -->
            <span data-toggle="tooltip" data-placement="auto" title="{{ i.analysisstatus.analysisstatus_note }}">
                <a href="{{ i.analysisstatus.get_absolute_url }}">
                    {{ i.analysisstatus }}
                </a>
            </span>
        {% else %}
            ---
        {% endif %}
    </td>

    <!-- system create time -->
    <td class="text-muted">
        {{ i.system_create_time|date:"Y-m-d H:i" }}
    </td>

    <!-- system modify time -->
    <td class="text-muted">
        {{ i.system_modify_time|date:"Y-m-d H:i" }}
    </td>

<!-- table row -->
</tr>
