<!-- table head for datatable task -->

<!-- table row -->
<tr>

    <!-- task id headline -->
    <td>
        ID
    </td>

    <!-- task name headline -->
    <td>
        Task
    </td>

    <!-- system headline -->
    <td>
        System
    </td>

    <!-- task user headline -->
    <td>
        User
    </td>

    <!-- taskstatus headline -->
    <td>
        Status
    </td>

    <!-- taskpriority headline -->
    <td>
        Priority
    </td>

    <!-- task due date headline -->
    <td>
        Due
    </td>

    <!-- task create date headline -->
    <td>
        Created
    </td>

    <!-- task modify date headline -->
    <td>
        Modified
    </td>

<!-- table row -->
</tr>
