<!-- table body for datatable systemhistory -->

{% load static %}

<!-- table row -->
<!-- (just one row, iterating over rows is done outside of this include file) -->
<tr>

    <!-- systemhistory id -->
    <td>
        {{ i.systemhistory_id }}
    </td>

    <!-- systemhistory time -->
    <td>
        {{ i.systemhistory_time|date:"Y-m-d H:i" }}
    </td>

    <!-- systemhistory type -->
    <td>
        {{ i.systemhistory_type }}
    </td>

    <!-- systemhistory old value -->
    <td>
        {{ i.systemhistory_old_value }}
    </td>

    <!-- systemhistory new value -->
    <td>
        {{ i.systemhistory_new_value }}
    </td>

<!-- table row -->
</tr>
