<!-- table head for datatable task -->

<!-- table row -->
<tr>

    <!-- task id headline -->
    <td>
        ID
    </td>

    <!-- task name headline -->
    <td>
        Task
    </td>

    <!-- note headline -->
    <td>
        Note
    </td>

    <!-- task user headline -->
    <td>
        User
    </td>

    <!-- placeholder for button -->
    <td>
    </td>

    <!-- taskstatus headline -->
    <td>
        Status
    </td>

    <!-- placeholder for button -->
    <td>
    </td>

    <!-- placeholder for button -->
    <td>
    </td>

    <!-- taskpriority headline -->
    <td>
        Priority
    </td>

    <!-- placeholder for button -->
    <td>
    </td>

<!-- table row -->
</tr>
