<!-- general errors -->
{% if form.non_field.errors %}
    <div class="row">
        <div class="col">
            <div class="text-danger">
                Non field error(s):<br>
                {{ form.non_field.errors }}
            </div>
        </div>
    </div>
{% endif %}

<!-- field errors -->
{% if form.errors %}
    <div class="row">
        <div class="col">
            <div class="text-danger">
                Field error(s):<br>
                {{ form.errors }}
            </div>
        </div>
    </div>
{% endif %}
