<!-- table head for datatable artifact -->

<!-- table row -->
<tr>

    <!-- artifact id headline -->
    <th>
        ID
    </th>

    <!-- artifact name headline -->
    <th>
        Artifact
    </th>

    <!-- artifactstatus headline -->
    <th>
        Artifactstatus
    </th>

    <!-- artifactpriority headline -->
    <th>
        Artifactpriority
    </th>

    <!-- artifacttype headline -->
    <th>
        Artifacttype
    </th>

    <!-- artifact requested time headline -->
    <th>
        Requested
    </th>

    <!-- artifact acquisition time headline -->
    <th>
        Acquired
    </th>

<!-- table row -->
</tr>
