<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Closed artifacts
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col-3">
        <h5>
            Closed artifacts
        </h5>
    </div>

    <!-- open artifacts button -->
    <div class="col-2">
        <a href="{% url 'artifacts_artifact_list' %}" type="button" class="btn btn-light copy-false">
            Open artifacts
        </a>
    </div>

    <!-- closed artifacts button -->
    <div class="col-2">
        <button type="button" class="btn btn-light copy-false" disabled>
            Closed artifacts
        </button>
    </div>

    <!-- all artifacts button -->
    <div class="col-2">
        <a href="{% url 'artifacts_artifact_all' %}" type="button" class="btn btn-light copy-false">
            All artifacts
        </a>
    </div>

<!-- headline -->
</div>

<!-- datatable closed artifact -->
<table id="table_artifact" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
    </thead>

    <!-- table body -->
    <tbody>
        {% for i in artifact_list %}
            {% include "dfirtrack_artifacts/includes/datatable_tbody_table_artifact.html" %}
        {% endfor %}
    </tbody>

<!-- datatable closed artifact -->
</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
