<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Artifacts
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col-3">
        <h5>
            Open artifacts
        </h5>
    </div>

    <!-- open artifacts button -->
    <div class="col-2">
        <button type="button" class="btn btn-light copy-false" disabled>
            Open artifacts
        </button>
    </div>

    <!-- closed artifacts button -->
    <div class="col-2">
        <a href="{% url 'artifacts_artifact_closed' %}" type="button" class="btn btn-light copy-false">
            Closed artifacts
        </a>
    </div>

    <!-- all artifacts button -->
    <div class="col-2">
        <a href="{% url 'artifacts_artifact_all' %}" type="button" class="btn btn-light copy-false">
            All artifacts
        </a>
    </div>

<!-- headline -->
</div>

<!-- datatable artifact -->
<table id="table_artifact" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
    </thead>

    <!-- table body -->
    <tbody>
        {% for i in artifact_list %}
            {% include "dfirtrack_artifacts/includes/datatable_tbody_table_artifact.html" %}
        {% endfor %}
    </tbody>

<!-- datatable artifact -->
</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-12">
            <h5>Create artifacts</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">

        <!-- artifact add button -->
        <div class="col-1">
            <div data-toggle="tooltip" data-placement="auto" title="Create single artifact.">
                <a href="{% url 'artifacts_artifact_create' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Add artifact
                </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-6">
            <h5>Export to spreadsheet</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">

        <!-- placeholder -->
        <div class="col-2">
        </div>

        <!-- export XLS button -->
        <div class="col-4 btn-group">
            <div data-toggle="tooltip" data-placement="auto" title="Immediately download artifacts as XLS file.">
                <a href="{% url 'artifact_exporter_spreadsheet_xls' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/spreadsheet.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Export XLS
                </a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Create scheduled task to export XLS file to server file system.">
                <a href="/admin/django_q/schedule/add/?name=artifact_spreadsheet_exporter_xls&func=dfirtrack_artifacts.exporter.spreadsheet.xls.artifact_cron" target="_blank" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/clock.svg' %}" class="icon copy-false" alt="icon"></a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Change settings for XLS file export.">
                <button onclick="artifact_exporter_spreadsheet_xls_config_popup()" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/wrench.svg' %}" class="icon copy-false" alt="icon"> </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>


<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
