<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>Tags creator</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Create tags
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form">

    <!-- button row -->
    <div class="row">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- tag block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tag headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Tags (*):
                </h5>
            </div>
        </div>

        <!-- tags -->
        <div class="row">
            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                <!-- tag errors -->
                <div class="text-danger">
                    {{ form.tag.errors }}
                </div>
                {% for i in form.tag %}
                    {{ i }}
                {% endfor %}
                </div>
            </div>
        </div>

    <!-- tag block -->
    </div>

    <!-- ############################################ -->

    <!-- status information block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- status information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Systems (*):
                </h5>
            </div>
        </div>

        <!-- system -->
        <div class="row">

            <!-- system -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- system errors -->
                    <div class="text-danger">
                        {{ form.system.errors }}
                    </div>
                    {% for i in form.system %}
                        {{ i }}
                    {% endfor %}
                </div>
            </div>

        <!-- system -->
        </div>

    <!-- status information block -->
    </div>

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
