<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Tags
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Tags
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- tag id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- tag name headline -->
    <div class="col-3">
        Tag
    </div>

    <!-- system headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- tag note headline -->
    <div class="col-5">
        Note
    </div>

    <!-- tag modify user headline -->
    <div class="col-1">
        Modified by
    </div>

<!-- headlines -->
</div>

<!-- tag list -->
{% for i in tag_list %}

    <!-- tag row -->
    <div class="row top-distance">

        <!-- tag id -->
        <div class="col-1">
            {{ i.tag_id }}
        </div>

        <!-- tag name -->
        <div class="col-3">
            <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-{{ i.tagcolor }} btn-sm round copy-true">
                <!-- black tag icon for white tag (black color of font is defined in corresponding CSS for button) -->
                {% if i.tagcolor.tagcolor_name == 'white' %}
                    <img src="{% static 'dfirtrack_main/icons/tag.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                <!-- white tag icon for other tags (white color of font is defined in corresponding CSS for button) -->
                {% else %}
                    <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                {% endif %}
                {{ i.tag_name }}
            </a>
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.system_set.all|length }}
        </div>

        <!-- tag note -->
        <div class="col-5">
            {% if i.tag_note %}
                {{ i.tag_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- tag modify user -->
        <div class="col-1">
            {% if i.tag_modified_by_user_id %}
                {{ i.tag_modified_by_user_id }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- tag row -->
    </div>

<!-- tag list -->
{% endfor %}

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-2">
            <h5>Create tags</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">

        <!-- add button -->
        <div class="col-1">
            <div data-toggle="tooltip" data-placement="auto" title="Create single tag.">
                <a href="{% url 'tag_create' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Add tag
                </a>
            </div>
        </div>
        <!-- placeholder -->
        <div class="col-1">
        </div>

        <!-- creator button -->
        <div class="col-1">
            <div data-toggle="tooltip" data-placement="auto" title="Create many tag-to-system relations.">
                <a href="{% url 'tag_creator' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/box.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Creator
                </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
