<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Status
</title>

<!-- HTML head in maintemplate -->
{% endblock %}

{% load static %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- systems row -->
<div class="row">

    <!-- systems card -->
    <div class="card col-6 bg-dark border-light card-body top-distance">

        <!-- system headline row -->
        <div class="row">

            <!-- system headline -->
            <div class="col-4">
                <h5>
                    Systems
                </h5>
            </div>

            <!-- systemstatus headline -->
            <div class="col-4">
                <h5>
                    Systems per systemstatus
                </h5>
            </div>

            <!-- analysisstatus headline -->
            <div class="col-4">
                <h5>
                    Systems per analysisstatus
                </h5>
            </div>

        <!-- system headline row -->
        </div>

        <!-- system status row -->
        <div class="row">

            <!-- system number -->
            <div class="col-4 bottom-distance">

                <!-- system number table -->
                <table class="status-table-distance">

                    <!-- system number table head -->
                    <thead>
                    </thead>

                    <!-- system number table body -->
                    <tbody>
                            <tr>
                                <td>Number of systems</td>
                                <td>{{ systems_number }}</td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Systems created today</td>
                                <td>{{ systems_today_number }}</td>
                            </tr>
                            <tr>
                                <td>Systems created yesterday</td>
                                <td>{{ systems_yesterday_number }}</td>
                            </tr>
                            <tr>
                                <td>Systems created two days ago</td>
                                <td>{{ systems_two_days_ago_number }}</td>
                            </tr>
                            <tr>
                                <td>Systems created three days ago</td>
                                <td>{{ systems_three_days_ago_number }}</td>
                            </tr>
                    </tbody>

                <!-- system number table -->
                </table>

            <!-- system number -->
            </div>

            <!-- systemstatus -->
            <div class="col-4">

                <!-- systemstatus table -->
                <table class="status-table-distance">

                    <!-- systemstatus table head -->
                    <thead>
                    </thead>

                    <!-- systemstatus table body -->
                    <tbody>
                        {% for systemstatus in systemstatus_all %}
                            <tr>
                                <td>{{ systemstatus.systemstatus_name }}</td>
                                <td>{{ systemstatus.systemstatus.all|length }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>

                <!-- systemstatus table -->
                </table>

            <!-- systemstatus -->
            </div>

            <!-- analysisstatus -->
            <div class="col-4">

                <!-- analysisstatus table -->
                <table class="status-table-distance">

                    <!-- analysisstatus table head -->
                    <thead>
                    </thead>

                    <!-- analysisstatus table body -->
                    <tbody>
                        {% for analysisstatus in analysisstatus_all %}
                            <tr>
                                <td>{{ analysisstatus.analysisstatus_name }}</td>
                                <td>{{ analysisstatus.analysisstatus.all|length }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>

                <!-- analysisstatus table -->
                </table>

            <!-- analysisstatus -->
            </div>

        <!-- system status row -->
        </div>

    <!-- systems card -->
    </div>

    <!-- systems card -->
    <div class="card col-5.5 bg-dark border-secondary card-body left-distance top-distance">

        <!-- system headline row -->
        <div class="row">

            <!-- system headline -->
            <div class="col-4">
                <h5>
                    Systems
                </h5>
            </div>

            <!-- systemstatus headline -->
            <div class="col-4">
                <h5>
                    Systems per systemstatus
                </h5>
            </div>

            <!-- analysisstatus headline -->
            <div class="col-4">
                <h5>
                    Systems per analysisstatus
                </h5>
            </div>

        <!-- system headline row -->
        </div>

        <!-- system status row -->
        <div class="row">

            <!-- system number -->
            <div class="col-4 bottom-distance">

                <!-- system number table -->
                <table class="status-table-distance">

                    <!-- system number table head -->
                    <thead>
                    </thead>

                    <!-- system number table body -->
                    <tbody>
                            <tr>
                                <td>Number of systems</td>
                                <td>
                                    {% for i in  statushistory.statushistoryentry_set.all %}
                                        {% if i.statushistoryentry_model_name == 'systems_number' %}
                                            {{ i.statushistoryentry_model_value }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                    </tbody>

                <!-- system number table -->
                </table>

            <!-- system number -->
            </div>

            <!-- systemstatus -->
            <div class="col-4">

                <!-- systemstatus table -->
                <table class="status-table-distance">

                    <!-- systemstatus table head -->
                    <thead>
                    </thead>

                    <!-- systemstatus table body -->
                    <tbody>
                        {% for i in  statushistory.statushistoryentry_set.all %}
                            {% if i.statushistoryentry_model_name == 'systemstatus' %}
                                <tr>
                                    <td>{{ i.statushistoryentry_model_key }}</td>
                                    <td>{{ i.statushistoryentry_model_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                <!-- systemstatus table -->
                </table>

            <!-- systemstatus -->
            </div>

            <!-- analysisstatus -->
            <div class="col-4">

                <!-- analysisstatus table -->
                <table class="status-table-distance">

                    <!-- analysisstatus table head -->
                    <thead>
                    </thead>

                    <!-- analysisstatus table body -->
                    <tbody>
                        {% for i in  statushistory.statushistoryentry_set.all %}
                            {% if i.statushistoryentry_model_name == 'analysisstatus' %}
                                <tr>
                                    <td>{{ i.statushistoryentry_model_key }}</td>
                                    <td>{{ i.statushistoryentry_model_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                <!-- analysisstatus table -->
                </table>

            <!-- analysisstatus -->
            </div>

        <!-- system status row -->
        </div>

    <!-- systems card -->
    </div>

<!-- systems row -->
</div>

<!-- artifacts row -->
<div class="row">

    <!-- artifacts card -->
    <div class="card col-6 bg-dark border-light card-body top-distance">

        <!-- artifact headline row -->
        <div class="row">

            <!-- artifact headline -->
            <div class="col-4">
                <h5>
                    Artifacts
                </h5>
            </div>

            <!-- artifactstatus headline -->
            <div class="col-4">
                <h5>
                    Artifacts per artifactstatus
                </h5>
            </div>

            <!-- artifactpriority headline -->
            <div class="col-4">
                <h5>
                    Artifacts per artifactpriority
                </h5>
            </div>

        </div>

        <!-- artifact status row -->
        <div class="row">

            <!-- artifact number -->
            <div class="col-4 bottom-distance">

                <!-- artifact number table -->
                <table class="status-table-distance">

                    <!-- artifact number table head -->
                    <thead>
                    </thead>

                    <!-- artifact number table body -->
                    <tbody>
                            <tr>
                                <td>Number of artifacts</td>
                                <td>{{ artifacts_number }}</td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Artifacts created today</td>
                                <td>{{ artifacts_today_number }}</td>
                            </tr>
                            <tr>
                                <td>Artifacts created yesterday</td>
                                <td>{{ artifacts_yesterday_number }}</td>
                            </tr>
                            <tr>
                                <td>Artifacts created two days ago</td>
                                <td>{{ artifacts_two_days_ago_number }}</td>
                            </tr>
                            <tr>
                                <td>Artifacts created three days ago</td>
                                <td>{{ artifacts_three_days_ago_number }}</td>
                            </tr>
                    </tbody>

                <!-- artifact number table -->
                </table>

            <!-- artifact number -->
            </div>

            <!-- artifactstatus -->
            <div class="col-4">

                <!-- artifactstatus table -->
                <table class="status-table-distance">

                    <!-- artifactstatus table head -->
                    <thead>
                    </thead>

                    <!-- artifactstatus table body -->
                    <tbody>
                        {% for artifactstatus in artifactstatus_all %}
                            <tr>
                                <td>{{ artifactstatus.artifactstatus_name }}</td>
                                <td>{{ artifactstatus.artifact_set.all|length }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>

                <!-- artifactstatus table -->
                </table>

            <!-- artifactstatus -->
            </div>

            <!-- artifactpriority -->
            <div class="col-4">

                <!-- artifactpriority table -->
                <table class="status-table-distance">

                    <!-- artifactpriority table head -->
                    <thead>
                    </thead>

                    <!-- artifactpriority table body -->
                    <tbody>
                        {% for artifactpriority in artifactpriority_all %}
                            <tr>
                                <td>{{ artifactpriority.artifactpriority_name }}</td>
                                <td>{{ artifactpriority.artifact_set.all|length }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>

                <!-- artifactpriority table -->
                </table>

            <!-- artifactpriority -->
            </div>

        <!-- artifact status row -->
        </div>

    <!-- artifacts card -->
    </div>

    <!-- artifacts card -->
    <div class="card col-5.5 bg-dark border-secondary card-body left-distance top-distance">

        <!-- artifact headline row -->
        <div class="row">

            <!-- artifact headline -->
            <div class="col-4">
                <h5>
                    Artifacts
                </h5>
            </div>

            <!-- artifactstatus headline -->
            <div class="col-4">
                <h5>
                    Artifacts per artifactstatus
                </h5>
            </div>

            <!-- artifactpriority headline -->
            <div class="col-4">
                <h5>
                    Artifacts per artifactpriority
                </h5>
            </div>

        </div>

        <!-- artifact status row -->
        <div class="row">

            <!-- artifact number -->
            <div class="col-4 bottom-distance">

                <!-- artifact number table -->
                <table class="status-table-distance">

                    <!-- artifact number table head -->
                    <thead>
                    </thead>

                    <!-- artifact number table body -->
                    <tbody>
                            <tr>
                                <td>Number of artifacts</td>
                                <td>
                                    {% for i in  statushistory.statushistoryentry_set.all %}
                                        {% if i.statushistoryentry_model_name == 'artifacts_number' %}
                                            {{ i.statushistoryentry_model_value }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                    </tbody>

                <!-- artifact number table -->
                </table>

            <!-- artifact number -->
            </div>

            <!-- artifactstatus -->
            <div class="col-4">

                <!-- artifactstatus table -->
                <table class="status-table-distance">

                    <!-- artifactstatus table head -->
                    <thead>
                    </thead>

                    <!-- artifactstatus table body -->
                    <tbody>
                        {% for i in  statushistory.statushistoryentry_set.all %}
                            {% if i.statushistoryentry_model_name == 'artifactstatus' %}
                                <tr>
                                    <td>{{ i.statushistoryentry_model_key }}</td>
                                    <td>{{ i.statushistoryentry_model_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                <!-- artifactstatus table -->
                </table>

            <!-- artifactstatus -->
            </div>

            <!-- artifactpriority -->
            <div class="col-4">

                <!-- artifactpriority table -->
                <table class="status-table-distance">

                    <!-- artifactpriority table head -->
                    <thead>
                    </thead>

                    <!-- artifactpriority table body -->
                    <tbody>
                        {% for i in  statushistory.statushistoryentry_set.all %}
                            {% if i.statushistoryentry_model_name == 'artifactpriority' %}
                                <tr>
                                    <td>{{ i.statushistoryentry_model_key }}</td>
                                    <td>{{ i.statushistoryentry_model_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                <!-- artifactpriority table -->
                </table>

            <!-- artifactpriority -->
            </div>

        <!-- artifact status row -->
        </div>

    <!-- artifacts card -->
    </div>

<!-- artifacts row -->
</div>

<!-- tasks row -->
<div class="row">

    <!-- tasks card -->
    <div class="card col-6 bg-dark border-light card-body top-distance">

        <!-- task headline row -->
        <div class="row">

            <!-- task headline -->
            <div class="col-4">
                <h5>
                    Tasks
                </h5>
            </div>

            <!-- taskstatus headline -->
            <div class="col-4">
                <h5>
                    Tasks per taskstatus
                </h5>
            </div>

            <!-- taskpriority headline -->
            <div class="col-4">
                <h5>
                    Tasks per taskpriority
                </h5>
            </div>

        <!-- task headline row -->
        </div>

        <!-- task status row -->
        <div class="row">

            <!-- task number -->
            <div class="col-4 bottom-distance">

                <!-- task number table -->
                <table class="status-table-distance">

                    <!-- task number table head -->
                    <thead>
                    </thead>

                    <!-- task number table body -->
                    <tbody>
                            <tr>
                                <td>Number of tasks</td>
                                <td>{{ tasks_number }}</td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tasks created today</td>
                                <td>{{ tasks_today_number }}</td>
                            </tr>
                            <tr>
                                <td>Tasks created yesterday</td>
                                <td>{{ tasks_yesterday_number }}</td>
                            </tr>
                            <tr>
                                <td>Tasks created two days ago</td>
                                <td>{{ tasks_two_days_ago_number }}</td>
                            </tr>
                            <tr>
                                <td>Tasks created three days ago</td>
                                <td>{{ tasks_three_days_ago_number }}</td>
                            </tr>
                    </tbody>

                <!-- task number table -->
                </table>

            <!-- task number -->
            </div>

            <!-- taskstatus -->
            <div class="col-4">

                <!-- taskstatus table -->
                <table class="status-table-distance">

                    <!-- taskstatus table head -->
                    <thead>
                    </thead>

                    <!-- taskstatus table body -->
                    <tbody>
                        {% for taskstatus in taskstatus_all %}
                            <tr>
                                <td>{{ taskstatus.taskstatus_name }}</td>
                                <td>{{ taskstatus.task_set.all|length }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>

                <!-- taskstatus table -->
                </table>

            <!-- taskstatus -->
            </div>

            <!-- taskpriority -->
            <div class="col-4">

                <!-- taskpriority table -->
                <table class="status-table-distance">

                    <!-- taskpriority table head -->
                    <thead>
                    </thead>

                    <!-- taskpriority table body -->
                    <tbody>
                        {% for taskpriority in taskpriority_all %}
                            <tr>
                                <td>{{ taskpriority.taskpriority_name }}</td>
                                <td>{{ taskpriority.task_set.all|length }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>

                <!-- taskpriority table -->
                </table>

            <!-- taskpriority -->
            </div>

        <!-- task status row -->
        </div>

    <!-- tasks card -->
    </div>

    <!-- tasks card -->
    <div class="card col-5.5 bg-dark border-secondary card-body left-distance top-distance">

        <!-- task headline row -->
        <div class="row">

            <!-- task headline -->
            <div class="col-4">
                <h5>
                    Tasks
                </h5>
            </div>

            <!-- taskstatus headline -->
            <div class="col-4">
                <h5>
                    Tasks per taskstatus
                </h5>
            </div>

            <!-- taskpriority headline -->
            <div class="col-4">
                <h5>
                    Tasks per taskpriority
                </h5>
            </div>

        <!-- task headline row -->
        </div>

        <!-- task status row -->
        <div class="row">

            <!-- task number -->
            <div class="col-4 bottom-distance">

                <!-- task number table -->
                <table class="status-table-distance">

                    <!-- task number table head -->
                    <thead>
                    </thead>

                    <!-- task number table body -->
                    <tbody>
                            <tr>
                                <td>Number of tasks</td>
                                <td>
                                    {% for i in  statushistory.statushistoryentry_set.all %}
                                        {% if i.statushistoryentry_model_name == 'tasks_number' %}
                                            {{ i.statushistoryentry_model_value }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                    </tbody>

                <!-- task number table -->
                </table>

            <!-- task number -->
            </div>

            <!-- taskstatus -->
            <div class="col-4">

                <!-- taskstatus table -->
                <table class="status-table-distance">

                    <!-- taskstatus table head -->
                    <thead>
                    </thead>

                    <!-- taskstatus table body -->
                    <tbody>
                        {% for i in  statushistory.statushistoryentry_set.all %}
                            {% if i.statushistoryentry_model_name == 'taskstatus' %}
                                <tr>
                                    <td>{{ i.statushistoryentry_model_key }}</td>
                                    <td>{{ i.statushistoryentry_model_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                <!-- taskstatus table -->
                </table>

            <!-- taskstatus -->
            </div>

            <!-- taskpriority -->
            <div class="col-4">

                <!-- taskpriority table -->
                <table class="status-table-distance">

                    <!-- taskpriority table head -->
                    <thead>
                    </thead>

                    <!-- taskpriority table body -->
                    <tbody>
                        {% for i in  statushistory.statushistoryentry_set.all %}
                            {% if i.statushistoryentry_model_name == 'taskpriority' %}
                                <tr>
                                    <td>{{ i.statushistoryentry_model_key }}</td>
                                    <td>{{ i.statushistoryentry_model_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                <!-- taskpriority table -->
                </table>

            <!-- taskpriority -->
            </div>

        <!-- task status row -->
        </div>

    <!-- tasks card -->
    </div>

<!-- tasks row -->
</div>

<!-- button row -->
<div class="row">

    <!-- buttons card -->
    <div class="card col bg-dark border-light card-body top-distance">

        <div class="row">

            <!-- save button -->
            <div class="col-2">
                <a href="{% url 'statushistory_save' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/envelope-closed.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Save statushistory
                </a>
            </div>

            <!-- cron button -->
            <div class="col-4">
                <a href="/admin/django_q/schedule/add/?name=statushistory_save&func=dfirtrack_config.views.statushistory.statushistory_save_cron" target="_blank" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/clock.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Create scheduled task
                </a>
            </div>

            <!-- history drop down -->
            <div class="col-1">
                <div class="dropup">
                    <a class="btn btn-light dropdown-toggle copy-false" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'dfirtrack_main/icons/envelope-open.svg' %}" class="icon right-distance copy-false" alt="icon">
                        Load statushistory
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for statushistory in statushistory_all %}
                            <a class="dropdown-item" href="{{ statushistory.get_absolute_url }}">{{ statushistory }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-5 text-center">
                <h5 class="top-distance">
                    {{ statushistory }}
                </h5>
            </div>

        </div>

    <!-- buttons card -->
    </div>

<!-- button row -->
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
