<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Systems
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Systems
        </h5>
    </div>
</div>

<!-- datatable system -->
<table id="table_system" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_main/includes/datatable_thead_table_system.html" %}
    </thead>

    <!-- table body -->
    <tbody>
    </tbody>

<!-- datatable system -->
</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-6">
            <h5>Create systems</h5>
        </div>
        <div class="col-4">
            <h5>Import systems via CSV</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">

        <!-- system add button -->
        <div class="col-1">
            <div data-toggle="tooltip" data-placement="auto" title="Create single system.">
                <a href="{% url 'system_create' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Add system
                </a>
            </div>
        </div>
        <!-- placeholder -->
        <div class="col-1">
        </div>

        <!-- system creator button -->
        <div class="col-1">
            <div data-toggle="tooltip" data-placement="auto" title="Create many systems with same properties.">
                <a href="{% url 'system_creator' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/box.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Creator
                </a>
            </div>
        </div>
        <!-- placeholder -->
        <div class="col-1">
        </div>

        <!-- system modificator button -->
        <div class="col-1">
            <div data-toggle="tooltip" data-placement="auto" title="Modify properties for many systems.">
                <a href="{% url 'system_modificator' %}" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/box.svg' %}" class="icon right-distance copy-false" alt="icon">
                    Modificator
                </a>
            </div>
        </div>
        <!-- placeholder -->
        <div class="col-1">
        </div>

        <!-- system importer file csv button -->
        <div class="col-2 btn-group">
            <div data-toggle="tooltip" data-placement="auto" title="Import CSV file via upload form.">
                <a href="{% url 'system_importer_file_csv_upload' %}" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/data-transfer-upload.svg' %}" class="icon right-distance copy-false" alt="icon"> Import CSV</a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Immediately import CSV file from server file system.">
                <a href="{% url 'system_importer_file_csv_instant' %}" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/loop-circular.svg' %}" class="icon right-distance copy-false" alt="icon"> </a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Create scheduled task to import CSV file from server file system.">
                <a href="{% url 'system_importer_file_csv_cron' %}" type="button" target="_blank" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/clock.svg' %}" class="icon right-distance copy-false" alt="icon"> </a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Change settings for CSV file import.">
                <button onclick="system_importer_file_csv_config_popup()" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/wrench.svg' %}" class="icon copy-false" alt="icon"> </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>

<!-- button block -->
<div class="card card-body bg-dark border-light top-distance copy-false">

    <!-- headlines -->
    <div class="row copy-false">
        <div class="col-6">
            <h5>Export to spreadsheet</h5>
        </div>
        <div class="col-6">
            <h5>Export to markdown</h5>
        </div>
    </div>

    <!-- button row -->
    <div class="row copy-false">

        <!-- export CSV button -->
        <div class="col-2 btn-group">
            <div data-toggle="tooltip" data-placement="auto" title="Immediately download systems as CSV file.">
                <a href="{% url 'system_exporter_spreadsheet_csv' %}" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/data-transfer-download.svg' %}" class="icon right-distance copy-false" alt="icon">  Export CSV</a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Create scheduled task to export CSV file to server file system.">
                <a href="/admin/django_q/schedule/add/?name=system_spreadsheet_exporter_csv&func=dfirtrack_main.exporter.spreadsheet.csv.system_cron" target="_blank" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/clock.svg' %}" class="icon copy-false" alt="icon"></a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Change settings for CSV file export.">
                <button onclick="system_exporter_spreadsheet_csv_config_popup()" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/wrench.svg' %}" class="icon copy-false" alt="icon"> </a>
            </div>
        </div>

        <!-- export XLS button -->
        <div class="col-4 btn-group">
            <div data-toggle="tooltip" data-placement="auto" title="Immediately download systems as XLS file.">
                <a href="{% url 'system_exporter_spreadsheet_xls' %}" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/data-transfer-download.svg' %}" class="icon right-distance copy-false" alt="icon"> Export XLS</a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Create scheduled task to export XLS file to server file system.">
                <a href="/admin/django_q/schedule/add/?name=system_spreadsheet_exporter_xls&func=dfirtrack_main.exporter.spreadsheet.xls.system_cron" target="_blank" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/clock.svg' %}" class="icon copy-false" alt="icon"></a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Change settings for XLS file export.">
                <button onclick="system_exporter_spreadsheet_xls_config_popup()" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/wrench.svg' %}" class="icon copy-false" alt="icon"> </a>
            </div>
        </div>

        <!-- export markdown button -->
        <div class="col-6 btn-group">
            <div data-toggle="tooltip" data-placement="auto" title="Immediately export systems as markdown files to server file system.">
                <a href="{% url 'system_exporter_markdown' %}" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/list-rich.svg' %}" class="icon right-distance copy-false" alt="icon"> Export markdown</a>
            </div>
            <div data-toggle="tooltip" data-placement="auto" title="Change settings for markdown export.">
                <button onclick="system_exporter_markdown_config_popup()" type="button" class="btn btn-light copy-false"><img src="{% static 'dfirtrack_main/icons/wrench.svg' %}" class="icon copy-false" alt="icon"> </a>
            </div>
        </div>

    <!-- button row -->
    </div>

<!-- button block -->
</div>

<!-- check for dfirtrack_api -->
{% if dfirtrack_api == True %}

    <!-- button block -->
    <div class="card card-body bg-dark border-light top-distance copy-false">

        <!-- headlines -->
        <div class="row">
            <div class="col-6">
                <h5>Show API view</h5>
            </div>
        </div>

        <!-- button row -->
        <div class="row">

            <!-- show api view button -->
            <div class="col-2">
                <a href="/api/system/" type="button" class="btn btn-light copy-false">
                    <img src="{% static 'dfirtrack_main/icons/project.svg' %}" class="icon right-distance copy-false" alt="icon">
                    API view
                </a>
            </div>

        <!-- button row -->
        </div>

    <!-- button block -->
    </div>

<!-- check for dfirtrack_api -->
{% endif %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
