<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Systems modificator
</title>

{% load static %}

<!-- custom javascript -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Systems modificator
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form" enctype="multipart/form-data">

    <!-- button row -->
    <div class="row">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1"> {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

        <!-- reload button -->
        <div class="col-1"> {% include "dfirtrack_main/includes/button_switch_selector.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- systemlist block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- systemlist headlines -->
        <div class="row">

            <div class="col-6">
                <h5>
                    Systemlist (*):
                </h5>
            </div>

        <!-- systemlist headlines -->
        </div>

        <!-- systemlist row -->
        <div class="row left-distance">

            <!-- systemlist -->
                <!-- systemlist errors -->
                <div class="text-danger">
                    {{ form.systemlist.errors }}
                </div>
                <!-- systemlist selector -->
                {{ form.systemlist }}
                {{ form.media}}
                <script type="text/javascript" src="{% url 'jsi18n' %}"></script>

        <!-- systemlist row -->
        </div>

    <!-- systemlist block -->
    </div>

    <!-- ############################################ -->

    <!-- tag / case block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- tag / case headline row -->
        <div class="row">

            <!-- tag headline -->
            <div class="col-6">
                <h5>
                    Tags
                </h5>
            </div>

        <!-- tag / case headline row -->
        </div>

        <!-- tag / case row -->
        <div class="row">

            <!-- tag -->
            <div class="col-6">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- tag errors -->
                    <div class="text-danger">
                        {{ form.tag.errors }}
                    </div>
                    {% for i in form.tag %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

        <!-- tag / case row -->
        </div>

    <!-- tag / case block -->
    </div>

    <!-- ############################################ -->

    <!-- status information -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- status information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Status information
                </h5>
            </div>
        </div>

        <!-- status information row  -->
        <div class="row">

            <!-- systemstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Systemstatus (*):
                </div>
            </div>

            <!-- analysisstatus headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Analysisstatus:
                </div>
            </div>

        <!-- status information row  -->
        </div>

        <!-- status information row  -->
        <div class="row">

            <!-- systemstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- systemstatus errors -->
                    <div class="text-danger">
                        {{ form.systemstatus.errors }}
                    </div>
                    {% for i in form.systemstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- analysisstatus -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- analysisstatus errors -->
                    <div class="text-danger">
                        {{ form.analysisstatus.errors }}
                    </div>
                    {% for i in form.analysisstatus %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

        <!-- status information row  -->
        </div>

    <!-- status information -->
    </div>

    <!-- company information -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- company information headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Company information
                </h5>
            </div>
        </div>

        <!-- company information row  -->
        <div class="row">

            <!-- company headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Company:
                </div>
            </div>

            <!-- location headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Location:
                </div>
            </div>

            <!-- serviceprovider headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Serviceprovider:
                </div>
            </div>

            <!-- contact headline -->
            <div class="col-3">
                <div class="font-weight-bold">
                    Contact:
                </div>
            </div>

        <!-- status information row  -->
        </div>

        <!-- company information row  -->
        <div class="row">

            <!-- company -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- company errors -->
                    <div class="text-danger">
                        {{ form.company.errors }}
                    </div>
                    {% for i in form.company %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- location -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- analysisstatus errors -->
                    <div class="text-danger">
                        {{ form.location.errors }}
                    </div>
                    {% for i in form.location %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- serviceprovider -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- analysisstatus errors -->
                    <div class="text-danger">
                        {{ form.serviceprovider.errors }}
                    </div>
                    {% for i in form.serviceprovider %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

            <!-- contact -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- analysisstatus errors -->
                    <div class="text-danger">
                        {{ form.contact.errors }}
                    </div>
                    {% for i in form.contact %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>

        <!-- company information row  -->
        </div>

    <!-- company information -->
    </div>

    <!-- ############################################ -->

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
