<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- ############################################ -->

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->

<title>
    {{ system.system_name }}{% if system.dnsname %}.{{ system.dnsname }}{% endif %}
</title>

<!-- static files -->
{% load static %}

<!-- CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- upper buttons row -->
<div class="row bottom-distance">

    <!-- up button -->
    <div class="col-6">
        <a href="{% url 'system_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to systems
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ system.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

    <!-- check for dfirtrack_api -->
    {% if dfirtrack_api == True %}

    <!-- show api view button -->
    <div class="col-3">
        <a href="/api/system/{{ system.system_id }}/" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/project.svg' %}" class="icon right-distance copy-false" alt="icon">
            API view
        </a>
    </div>

    {% endif %}

<!-- upper buttons row -->
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- system name row -->
<div class="row bottom-distance">

    <!-- system name -->
    <div class="col-3">
        <div class="btn btn-primary btn-lg copy-true">
            <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon right-distance copy-false" alt="icon">
            {{ system.system_name }}
         </div>
    </div>

    <!-- dnsname -->
    <div class="col-3">
        <div class="font-weight-bold">DNS name:</div>
        {% if system.dnsname %}
            <!-- tooltip with dnsname note -->
            <span data-toggle="tooltip" data-placement="auto" title="{{ system.dnsname.dnsname_note }}">
                <a href="{{ system.dnsname.get_absolute_url }}">
                    {{ system.dnsname }}
                </a>
            </span>
        {% else %}
            ---
        {% endif %}
    </div>

    <!-- IP addresses w/o link w copy button -->
    <div class="col-3">
        <div class="font-weight-bold">IP addresses:</div>
        {% if system.ip.all %}
            {% for i in system.ip.all %}
                <div class="row top-distance">
                    <div class="col-3 col-sm-3">
                    {{ i.ip_ip }}
                    </div>
                    <!-- copy button -->
                    <div class="col-9 col-sm-9">
                        <button class="btn btn-outline-primary btn-sm" data-clipboard-text="{{ i.ip_ip }}">
                            Copy
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            ---
        {% endif %}
    </div>

    <!-- system export values -->
    <div class="col-3">

        <table>

            <!-- system export markdown -->
            <tr>
                <td>
                    <span class="font-weight-bold right-distance">
                        Export system to markdown
                    </span>
                </td>
                <td>
                    {% if system.system_export_markdown == True %}
                        {% include "dfirtrack_main/includes/button_true.html" %}
                    {% elif system.system_export_markdown == False %}
                        {% include "dfirtrack_main/includes/button_false.html" %}
                    {% endif %}
                </td>
            </tr>

            <!-- system export spreadsheet -->
            <tr>
                <td>
                    <span class="font-weight-bold right-distance">
                        Export system to spreadsheet
                    </span>
                </td>
                <td>
                    {% if system.system_export_spreadsheet == True %}
                        {% include "dfirtrack_main/includes/button_true.html" %}
                    {% elif system.system_export_spreadsheet == False %}
                        {% include "dfirtrack_main/includes/button_false.html" %}
                    {% endif %}
                </td>
            </tr>

        </table>

    <!-- system export values -->
    </div>

<!-- system name row -->
</div>

<!-- copy button row-->
<div class="row bottom-distance">

    <!-- copy button -->
    <div class="col-3">
            <button class="btn btn-outline-primary btn-sm" data-clipboard-text="{{ system.system_name }}">
                Copy hostname
            </button>
    </div>

<!-- copy button row-->
</div>

<!-- id row -->
<div class="row bottom-distance">

    <!-- system id -->
    <div class="col-3">
        <small class="text-muted">
            System-ID: {{ system.system_id }}
        </small>
    </div>

    <!-- system uuid -->
    <div class="col-3">
        <small class="text-muted">
            System-UUID:
            {% if system.system_uuid %}
                {{ system.system_uuid }}
            {% else %}
                ---
            {% endif  %}
        </small>
    </div>

<!-- id row -->
</div>

<!-- tags / cases row -->
<div class="row">

    <!-- tags -->
    <div class="col-6">
        {% if system.tag.all %}
            {% for i in system.tag.all %}
                <!-- tooltip with tag note -->
                <span data-toggle="tooltip" data-placement="auto" title="{{ i.tag_note }}">
                    <a href="{{ i.get_absolute_url }}" type="button" class="btn btn-sm btn-{{ i.tagcolor }} round copy-true top-distance">
                        <!-- black tag icon for white tag (black color of font is defined in corresponding CSS for button) -->
                        {% if i.tagcolor.tagcolor_name == 'white' %}
                            <img src="{% static 'dfirtrack_main/icons/tag.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        <!-- white tag icon for other tags (white color of font is defined in corresponding CSS for button) -->
                        {% else %}
                            <img src="{% static 'dfirtrack_main/icons/tag-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        {% endif %}
                        {{ i }}
                    </a>
                </span>
            {% endfor %}
        {% endif %}
    </div>

    <!-- cases -->
    <div class="col-6">
        <div class="font-weight-bold">Cases:</div>
        {% if system.case.all %}
            {% for i in system.case.all %}
                <a href="{{ i.get_absolute_url }}">
                    {{ i }}
                </a>
            {% endfor %}
        {% else %}
            ---
        {% endif %}
    </div>

<!-- tags / cases row -->
</div>

<!-- ############################################ -->

<!-- tasks information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- tasks information headline -->
    <div class="row">
        <div class="col">
            <h5>Tasks information</h5>
        </div>
    </div>

    <!-- open tasks headline -->
    <div class="row font-weight-bold top-distance bottom-distance">
        <div class="col-3">Open tasks</div>
    </div>
    
    <!-- open tasks datatable -->
    <table id="table_system_task_open" class="display" width="100%">

        <!-- table head -->
        <thead>
            <tr>
                {% include "dfirtrack_main/includes/datatable_thead_table_system_task_open.html" %}
            </tr>
        </thead>

        <!-- table body -->
        <tbody>

            <!-- open tasks -->
            {% if system.task_set.all %}
                {% for i in system.task_set.all %}
                    {% if i.taskstatus.taskstatus_name != '30_done' %}

                        <!-- table row -->
                        {% include "dfirtrack_main/includes/datatable_tbody_table_system_task_open.html" %}

                    {% endif %}
                {% endfor %}

            <!-- no open tasks -->
            {% else %}

                <!-- empty table row -->
                <tr>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td></td>
                    <td>---</td>
                    <td></td>
                    <td></td>
                    <td>---</td>
                    <td>---</td>
                </tr>

            {% endif %}

        <!-- table body -->
        </tbody>

    <!-- open tasks datatable -->
    </table>
    
    <!-- add task button -->
    <div class="row bottom-distance top-distance">
        <div class="col-1">
            <a href="{% url 'task_create' %}?system={{ system.system_id }}" type="button" class="btn btn-light btn-sm copy-false">
                <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm copy-false right-distance" alt="icon">
                Add task
            </a>
        </div>
    </div>

    <!-- closed tasks headline -->
    <div class="row font-weight-bold bottom-distance">
        <div class="col-3">
            <a href="#closed_tasks" data-toggle="collapse" class="copy-true">
                Closed tasks
                <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon-sm copy-false left-distance" alt="icon">
            </a>
        </div>
    </div>
    
    <!-- closed tasks collapse -->
    <div id="closed_tasks" class="collapse">

        <!-- closed tasks datatable -->
        <table id="table_system_task_done" class="display" width="100%">

            <!-- table head -->
            <thead>
                <tr>
                    {% include "dfirtrack_main/includes/datatable_thead_table_system_task_closed.html" %}
                </tr>
            </thead>

            <!-- table body -->
            <tbody>

                <!-- closed tasks -->
                {% if system.task_set.all %}
                    {% for i in system.task_set.all %}
                        {% if i.taskstatus.taskstatus_name == '30_done' %}

                            <!-- table row -->
                            {% include "dfirtrack_main/includes/datatable_tbody_table_system_task_closed.html" %}

                        {% endif %}
                    {% endfor %}
                {% else %}

                    <!-- empty table row -->
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td></td>
                        <td>---</td>
                        <td>---</td>
                    </tr>

                <!-- closed tasks -->
                {% endif %}

            <!-- table body -->
            </tbody>

        <!-- closed tasks datatable -->
        </table>

    <!-- closed tasks collapse -->
    </div>

<!-- tasks information -->
</div>

<!-- ############################################ -->

<!-- status information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- status information headline -->
    <div class="row">
        <div class="col">
            <h5>Status information</h5>
        </div>
    </div>

    <!-- status information row -->
    <div class="row">

        <!-- systemstatus -->
        <div class="col-3">
            <div class="font-weight-bold">Systemstatus:</div>
            {% with systemstatus=system.systemstatus %}
                {% include "dfirtrack_main/includes/button_systemstatus.html" %}
            {% endwith %}
        </div>

        <!-- analysisstatus -->
        <div class="col-3">
            <div class="font-weight-bold">Analysisstatus:</div>
            {% if system.analysisstatus %}
                <!-- tooltip with analysisstatus note -->
                <span data-toggle="tooltip" data-placement="auto" title="{{ system.analysisstatus.analysisstatus_note }}">
                    <a href="{{ system.analysisstatus.get_absolute_url }}">
                        {{ system.analysisstatus }}
                    </a>
                </span>
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- reason -->
        <div class="col-3">
            <div class="font-weight-bold">Reason for investigation:</div>
            {% if system.reason %}
                <!-- tooltip with reason note -->
                <span data-toggle="tooltip" data-placement="auto" title="{{ system.reason.reason_note }}">
                    <a href="{{ system.reason.get_absolute_url }}">
                        {{ system.reason }}
                    </a>
                </span>
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- recommendation -->
        <div class="col-3">
            <div class="font-weight-bold">Recommendation:</div>
            {% if system.recommendation %}
                <!-- tooltip with recommendation note -->
                <span data-toggle="tooltip" data-placement="auto" title="{{ system.recommendation.recommendation_note }}">
                    <a href="{{ system.recommendation.get_absolute_url }}">
                        {{ system.recommendation }}
                    </a>
                </span>
            {% else %}
                ---
            {% endif %}
        </div>

    <!-- status information row -->
    </div>

    <!-- systemhistory headline row -->
    <div class="row top-distance bottom-distance">
        <div class="col">
            <a href="#systemhistory" data-toggle="collapse">
                Systemhistory
                <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
            </a>
        </div>
    </div>

    <!-- systemhistory collapse -->
    <div id="systemhistory" class="collapse">

        <!-- datatable systemhistory -->
        <table id="table_systemhistory" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_main/includes/datatable_thead_table_systemhistory.html" %}
            </thead>

            <!-- table body -->
            <tbody>
                {% if system.systemhistory_set.all %}
                    {% for i in system.systemhistory_set.all %}
                        {% include "dfirtrack_main/includes/datatable_tbody_table_systemhistory.html" %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                {% endif %}
            </tbody>

        <!-- datatable systemhistory -->
        </table>

    <!-- systemhistory collapse -->
    </div>

<!-- status information end -->
</div>

<!-- ############################################ -->

<!-- check for artifacts app -->
{% if dfirtrack_artifacts == True %}

<!-- artifacts -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- artifacts  headline -->
    <div class="row bottom-distance">
        <div class="col">
            <a href="#artifacts" data-toggle="collapse">
                <h5>
                    Artifacts
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
        </div>
    </div>

    <!-- artifacts collapse -->
    <div id="artifacts" class="collapse">

        <!-- datatable artifacts -->
        <table id="table_system_artifact" class="display" width="100%">

            <!-- table head -->
            <thead>
                {% include "dfirtrack_artifacts/includes/datatable_thead_table_system_artifact.html" %}
            </thead>

            <!-- table body -->
            <tbody>
                {% if artifacts %}
                    {% for i in artifacts %}
                        {% include "dfirtrack_artifacts/includes/datatable_tbody_table_system_artifact.html" %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                {% endif %}
            </tbody>

        <!-- datatable artifacts -->
        </table>

        <!-- javascript for datatables -->
        <script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

        <!-- add artifact button -->
        <div class="row bottom-distance top-distance">
            <div class="col-1">
                <a href="{% url 'artifacts_artifact_create' %}?system={{ system.system_id }}" type="button" class="btn btn-light btn-sm copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm copy-false right-distance" alt="icon">
                    Add artifact
                </a>
            </div>
        </div>

    <!-- artifacts collapse -->
    </div>

<!-- artifacts -->
</div>

<!-- check for artifacts app -->
{% endif %}

<!-- ############################################ -->

<!-- timeline -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- timeline headline -->
    <div class="row bottom-distance">
        <div class="col">
            <a href="#timeline" data-toggle="collapse">
                <h5>Timeline
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
        </div>
    </div>

    <!-- timeline collapse -->
    <div id="timeline" class="collapse">

        <!-- timeline datatable -->
        <table id="table_timeline" class="display" width="100%">

            <!-- table head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time (UTC)</th>
                    <th>System</th>
                    <th>Type</th>
                    <th>Content</th>
                </tr>
            </thead>

            <!-- table body -->
            <tbody>

                <!-- entries -->
                {% if system.entry_set.all %}
                    {% for i in system.entry_set.all %}

                        <!-- table row -->
                        <tr>

                            <!-- entry id -->
                            <td>
                                <a href="{{ i.get_absolute_url }}">
                                    {{ i.entry_id }}
                                </a>
                            </td>

                            <!-- entry date -->
                            <td>
                                {{ i.entry_date }}
                            </td>

                            <!-- entry time utc -->
                            <td>
                                {{ i.entry_utc }}
                            </td>

                            <!-- entry system -->
                            <td>
                                {{ i.entry_system }}
                            </td>

                            <!-- entry type -->
                            <td>
                                {{ i.entry_type }}
                            </td>

                            <!-- entry content -->
                            <td>
                                {{ i.entry_content }}
                            </td>

                        </tr>

                    {% endfor %}

                <!-- no entries -->
                {% else%}

                    <!-- table row -->
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                {% endif %}

            <!-- table body -->
            </tbody>

        <!-- timeline datatable -->
        </table>

        <!-- add entry buttons row -->
        <div class="row">

            <!-- add single entry button -->
            <div class="col-3">
                <a href="{% url 'entry_create' %}?system={{ system.system_id }}" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add entry
                </a>
            </div>

        <!-- add entry buttons row -->
        </div>

    <!-- timeline collapse -->
    </div>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- timeline end -->
</div>

<!-- ############################################ -->

<!-- technical information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- technical information headline -->
    <div class="row">
        <div class="col">
            <a href="#technical_information" data-toggle="collapse">
                <h5>Technical information
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
        </div>
    </div>
    
    <!-- technical information collapse -->
    <div id="technical_information" class="collapse">

        <!-- technical information row -->
        <div class="row bottom-distance">

            <!-- systemtype -->
            <div class="col-3">
                <div class="font-weight-bold">Systemtype:</div>
                {% if system.systemtype %}
                    <a href="{{ system.systemtype.get_absolute_url }}">
                        {{ system.systemtype }}
                    </a>
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- IP addresses -->
            <div class="col-3">
                <div class="font-weight-bold">IP addresses:</div>
                {% if system.ip.all %}
                    {% for i in system.ip.all %}
                        <a href="{{ i.get_absolute_url }}">
                            {{ i.ip_ip }}<br>
                        </a>
                    {% endfor %}
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- domain -->
            <div class="col-3">
                <div class="font-weight-bold">Domain:</div>
                {% if system.domain %}
                    <!-- tooltip with domain note -->
                    <span data-toggle="tooltip" data-placement="auto" title="{{ system.domain.domain_note }}">
                        <a href="{{ system.domain.get_absolute_url }}">
                            {{ system.domain.domain_name }}
                        </a>
                    </span>
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- operating system -->
            <div class="col-3">
                <div class="font-weight-bold">Operating system:</div>
                {% if system.os %}
                    <a href="{{ system.os.get_absolute_url }}">
                        {{ system.os.os_name }}
                    </a>
                {% else %}
                    ---
                {% endif %}
            </div>

        <!-- technical information row -->
        </div>

        <!-- technical information row -->
        <div class="row">

            <!-- installation time -->
            <div class="col-3">
                <div class="font-weight-bold">Installation time:</div>
                {% if system.system_install_time %}
                    {{ system.system_install_time|date:"Y-m-d H:i" }}
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- last booted time -->
            <div class="col-3">
                <div class="font-weight-bold">Last booted:</div>
                {% if system.system_lastbooted_time %}
                    {{ system.system_lastbooted_time|date:"Y-m-d H:i" }}
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- deprecated time -->
            <div class="col-3">
                <div class="font-weight-bold">System is depracted since:</div>
                {% if system.system_deprecated_time %}
                    {{ system.system_deprecated_time|date:"Y-m-d H:i" }}
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- operating system architecture -->
            <div class="col-3">
                <div class="font-weight-bold">OS architecture:</div>
                {% if system.osarch %}
                    {{ system.osarch }}
                {% else %}
                    ---
                {% endif %}
            </div>

        <!-- technical information row -->
        </div>

    <!-- technical information collapse -->
    </div>

<!-- technical information -->
</div>

<!-- ############################################ -->

<!-- virtualization information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- virtualization headline -->
    <div class="row">
        <div class="col">
            <a href="#virtualization_information" data-toggle="collapse">
                <h5>Virtualization information
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
        </div>
    </div>
    
    <!-- virtualization information collapse -->
    <div id="virtualization_information" class="collapse">

        <!-- virtualization information row -->
        <div class="row">

            <!-- virtual machine -->
            <div class="col-3">
                <div class="font-weight-bold">System is a VM:</div>
                {% if system.system_is_vm is none %}
                    Unknown
                {% else %}
                    {{ system.system_is_vm }}
                {% endif %}
            </div>

            <!-- host system -->
            <div class="col-3">
                <div class="font-weight-bold">Host system:</div>
                {% if system.host_system %}
                    <a href="{{ system.host_system.get_absolute_url }}" type="button" class="btn btn-primary btn-sm top-distance copy-true">
                        <img src="{% static 'dfirtrack_main/icons/monitor-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        {{ system.host_system.system_name }}
                    </a>
                {% else %}
                    ---
                {% endif %}
            </div>

        <!-- virtualization information row -->
        </div>

    <!-- virtualization information collapse -->
    </div>

<!-- virtualization information -->
</div>

<!-- ############################################ -->

<!-- company information -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- company information headline -->
    <div class="row">
        <div class="col">
            <a href="#company_information" data-toggle="collapse">
                <h5>Company information
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
        </div>
    </div>
    
    <!-- company information collapse -->
    <div id="company_information" class="collapse">

        <!-- company information row -->
        <div class="row">

            <!-- company -->
            <div class="col-3">
                <div class="font-weight-bold">Company:</div>
                {% if system.company.all %}
                    {% for i in system.company.all %}
                        <!-- tooltip with company note -->
                        <span data-toggle="tooltip" data-placement="auto" title="{{ i.company_note }}">
                            <a href="{{ i.get_absolute_url }}">
                                {{ i.company_name }}<br>
                            </a>
                        </span>
                    {% endfor %}
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- location -->
            <div class="col-3">
                <div class="font-weight-bold">Location:</div>
                {% if system.location %}
                    <!-- tooltip with location note -->
                    <span data-toggle="tooltip" data-placement="auto" title="{{ system.location.location_note }}">
                        <a href="{{ system.location.get_absolute_url }}">
                            {{ system.location }}
                        </a>
                    </span>
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- serviceprovider -->
            <div class="col-3">
                <div class="font-weight-bold">Serviceprovider:</div>
                {% if system.serviceprovider %}
                    <!-- tooltip with serviceprovider note -->
                    <span data-toggle="tooltip" data-placement="auto" title="{{ system.serviceprovider.serviceprovider_note }}">
                        <a href="{{ system.serviceprovider.get_absolute_url }}">
                            {{ system.serviceprovider }}
                        </a>
                    </span>
                {% else %}
                    ---
                {% endif %}
            </div>

            <!-- contact -->
            <div class="col-3">
                <div class="font-weight-bold">Contact:</div>
                {% if system.contact %}
                    <!-- tooltip with contact note -->
                    <span data-toggle="tooltip" data-placement="auto" title="{{ system.contact.contact_note }}">
                        <a href="{{ system.contact.get_absolute_url }}">
                            {{ system.contact.contact_name }}
                        </a>
                    </span>
                {% else %}
                    ---
                {% endif %}
            </div>

        <!-- company information row -->
        </div>

    <!-- company information collapse -->
    </div>

<!-- company information -->
</div>

<!-- ############################################ -->

<!-- systemusers -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- systemusers headline  -->
    <div class="row">
        <div class="col">
            <a href="#systemusers" data-toggle="collapse">
                <h5>Systemusers
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
        </div>
    </div>

    <!-- systemusers collapse  -->
    <div id="systemusers" class="collapse">

        <!-- single row for all systemusers (but linebreaks) -->
        {% if system.systemuser_set.all %}

            <!-- systemusers row -->
            <div class="row top-distance">

                <!-- systemusers -->
                <div class="col">
                    {% for i in system.systemuser_set.all %}
                        <img src="{% static 'dfirtrack_main/icons/person-light.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                        <!-- systemuser admin -->
                        {% if i.systemuser_is_systemadmin %}
                            {{ i.systemuser_name }} (Admin)
                        {% else %}
                            {{ i.systemuser_name }}
                        {% endif %}
                        <!-- systemuser lastlogon time -->
                        {% if i.systemuser_lastlogon_time %}
                            ({{ i.systemuser_lastlogon_time|date:"Y-m-d H:i" }})
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>

            <!-- systemusers row -->
            </div>

        {% else %}
            ---
        {% endif %}

    <!-- systemusers collapse  -->
    </div>

<!-- systemusers -->
</div>

<!-- ############################################ -->

<!-- analystmemos -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- analystmemos headline -->
    <div class="row">
        <div class="col">
            <a href="#analystmemos" data-toggle="collapse">
                <h5>Analystmemos
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
            <div class="text-muted copy-false">(just notes for information)</div>
        </div>
    </div>

    <!-- analystmemos collapse -->
    <div id="analystmemos" class="collapse">

        <!-- all analystmemos -->
        {% if system.analystmemo_set.all %}
            {% for i in system.analystmemo_set.all %}

                <!-- single analystmemo -->
                <div class="card bg-dark border-light card-body top-distance">

                    <!-- single analystmemo headline -->
                    <div class="row">
                        <div class="col">
                            <a href="#analystmemo_{{ i.analystmemo_id }}" data-toggle="collapse">
                                Analystmemo
                                <span class="text-muted">
                                    created {{ i.analystmemo_create_time|date:"Y-m-d H:i" }} by {{ i.analystmemo_created_by_user_id }} and last edited {{ i.analystmemo_modify_time|date:"Y-m-d H:i" }} by {{ i.analystmemo_modified_by_user_id }}
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- single analystmemo collapse -->
                    <div id="analystmemo_{{ i.analystmemo_id }}" class="collapse">

                        <!-- reportitem note with linebreaks -->
                        {{ i.analystmemo_note|linebreaks }}

                        <!-- analystmemo edit button -->
                        <a href="{{ i.get_update_url }}" type="button" class="btn btn-light btn-sm copy-false">
                            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                            Edit
                        </a>

                    <!-- single analystmemo collapse -->
                    </div>

                <!-- single analystmemo -->
                </div>

            {% endfor %}
        {% else %}
            ---
        {% endif %}

        <!-- analystmemo add button -->
        <div class="row">
            <div class="col-1">
                <a href="{% url 'analystmemo_create' %}?system={{ system.system_id }}" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add analystmemo
                </a>
            </div>
        </div>

    <!-- analystmemos collapse -->
    </div>

<!-- analystmemos -->
</div>

<!-- ############################################ -->

<!-- reportitems -->
<div class="card bg-dark border-light card-body top-distance">

    <!-- reportitems headline -->
    <div class="row">
        <div class="col">
            <a href="#reportitems" data-toggle="collapse">
                <h5>Reportitems
                    <img src="{% static 'dfirtrack_main/icons/caret-bottom-light.svg' %}" class="icon left-distance copy-false" alt="icon">
                </h5>
            </a>
            <div class="text-muted copy-false">(will be exported to the systemreport)</div>
        </div>
    </div>
    
    <!-- reportitems collapse -->
    <div id="reportitems" class="collapse">

        <!-- all reportitems -->
        {% if system.reportitem_set.all %}
            {% for i in system.reportitem_set.all %}

                <!-- single reportitem -->
                <div class="card bg-dark border-light card-body top-distance">

                    <!-- single reportitem headline -->
                    <div class="row top-distance">
                        <div class="col">
                            <a href="#reportitem_{{ i.reportitem_id }}" data-toggle="collapse">

                                <!-- with subheadline -->
                                {% if i.reportitem_subheadline %}
                                    <b>{{ i.headline }} - {{ i.reportitem_subheadline }}</b>
                                    | Reportitem
                                    <span class="text-muted">
                                        created {{ i.reportitem_create_time|date:"Y-m-d H:i" }} by {{ i.reportitem_created_by_user_id }} and last edited {{ i.reportitem_modify_time|date:"Y-m-d H:i" }} by {{ i.reportitem_modified_by_user_id }}
                                    </span>

                                <!-- without subheadline -->
                                {% else %}
                                    <b>{{ i.headline }}</b>
                                    | Reportitem
                                    <span class="text-muted">
                                        created {{ i.reportitem_create_time|date:"Y-m-d H:i" }} by {{ i.reportitem_created_by_user_id }} and last edited {{ i.reportitem_modify_time|date:"Y-m-d H:i" }} by {{ i.reportitem_modified_by_user_id }}
                                    </span>
                                {% endif %}

                            </a>
                        </div>
                    </div>

                    <!-- single reportitem collapse -->
                    <div id="reportitem_{{ i.reportitem_id }}" class="collapse">

                        <!-- reportitem note with linebreaks -->
                        {{ i.reportitem_note|linebreaks }}

                        <!-- reportitem edit button -->
                        <a href="{{ i.get_update_url }}" type="button" class="btn btn-light btn-sm top-distance copy-false">
                            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                            Edit
                        </a>

                    <!-- single reportitem collapse -->
                    </div>

                <!-- single reportitem -->
                </div>

            {% endfor %}
        {% else %}
            ---
        {% endif %}

        <!-- reportitem add button -->
        <div class="row">
            <div class="col-1">
                <a href="{% url 'reportitem_create' %}?system={{ system.system_id }}" type="button" class="btn btn-light btn-sm top-distance copy-false">
                    <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                    Add reportitem
                </a>
            </div>
        </div>

    <!-- reportitems collapse -->
    </div>

<!-- reportitems -->
</div>

<!-- ############################################ -->

<!-- meta information -->
<div class="card bg-dark border-secondary card-body bottom-distance top-distance">

    <!-- meta information headline -->
    <div class="row text-muted">
        <div class="col">
            <h5>Meta information</h5>
        </div>
    </div>

    <!-- meta information row -->
    <div class="row text-muted">

        <!-- system create time -->
        <div class="col-3">
            <div class="font-weight-bold">Created:</div>
            {{ system.system_create_time|date:"Y-m-d H:i" }}
        </div>

        <!-- user creating system -->
        <div class="col-3">
            <div class="font-weight-bold">Created by:</div>
            {{ system.system_created_by_user_id }}
        </div>

        <!-- system modify time -->
        <div class="col-3">
            <div class="font-weight-bold">Last modified:</div>
            {{ system.system_modify_time|date:"Y-m-d H:i" }}
        </div>

        <!-- user modifying system -->
        <div class="col-3">
            <div class="font-weight-bold">Modified by:</div>
            {{ system.system_modified_by_user_id }}
        </div>

    <!-- meta information row -->
    </div>

    <!-- meta information row -->
    <div class="row text-muted">

        <!-- placeholder -->
        <div class="col-6"></div>

        <!-- API update time -->
        <div class="col-3">
            <div class="font-weight-bold">Last API update:</div>
            {% if system.system_api_time %}
                {{ system.system_api_time|date:"Y-m-d H:i" }}
            {% else %}
                ---
            {% endif %}
        </div>

    <!-- meta information row -->
    </div>

<!-- meta information -->
</div>

<!-- lower buttons row -->
<div class="row top-distance">

    <!-- up to systems button -->
    <div class="col-6">
        <a href="{% url 'system_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to systems
        </a>
    </div>

    <!-- edit button -->
    <div class="col-3">
        <a href="{{ system.get_update_url }}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon right-distance copy-false" alt="icon">
            Edit
        </a>
    </div>

    <!-- check for dfirtrack_api -->
    {% if dfirtrack_api == True %}

    <!-- show api view button -->
    <div class="col-3">
        <a href="/api/system/{{ system.system_id }}/" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/project.svg' %}" class="icon right-distance copy-false" alt="icon">
            API view
        </a>
    </div>

    {% endif %}

<!-- lower buttons row -->
</div>

<!-- javascript for datatables in maintemplate -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
