<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    CSV importer
</title>

{% load static %}

<!-- custom javascript -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="bottom-distance">
    <h4>
        Import systems via CSV (set system attributes via config)
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form" enctype="multipart/form-data">

    <!-- button row -->
    <div class="row">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- file block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- file headlines -->
        <div class="row">

            <div class="col-6">
                <h5>
                    {{ form.systemcsv.label }}
                </h5>
            </div>

        <!-- file headlines -->
        </div>

        <!-- file row -->
        <div class="row">

            <!-- file -->
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- file errors -->
                    <div class="text-danger">
                        {{ form.systemcsv.errors }}
                    </div>
                    {{ form.systemcsv }}
                </div>
            </div>

            <!-- file requirement description -->
            <div class="col-3">
                <p>Shown fields depend on the choice in `dfirtrack.config`.</p>
                <p>Use comma (,) as field delimiter and apostrophe (') to enclose fields.</p>
            </div>

        <!-- file row -->
        </div>

    <!-- file block -->
    </div>

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
