<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Artifactstatus '{{ artifactstatus.artifactstatus_name }}'{% if artifactstatus.artifact_set.all %} (a: {{ artifactstatus.artifact_set.all|length }}){% endif %}
</title>

<!-- javascript and CSS for datatables -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'artifacts_artifactstatus_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to artifactstatus
        </a>
    </div>
</div>

<!-- artifactstatus name row -->
<div class="row">

    <!-- artifactstatus name -->
    <div class="col-3">
        <h5>
            Artifactstatus "{{ artifactstatus.artifactstatus_name }}"
        </h5>
    </div>

<!-- artifactstatus name row -->
</div>

<!-- artifactstatus id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Artifactstatus-ID: {{ artifactstatus.artifactstatus_id }}
        </small>
    </div>
</div>

<!-- artifactstatus note headline -->
<div class="row">
    <div class="col-3">
        <h5>
            Note
        </h5>
    </div>
</div>

<!-- artifactstatus note -->
<div class="row bottom-distance">
    <div class="col">
        {% if artifactstatus.artifactstatus_note %}
            {{ artifactstatus.artifactstatus_note|linebreaks }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- artifact headline -->
<div class="row">
    <div class="col-6">
        <h5>
            Artifacts with this status{% if artifactstatus.artifact_set.all %} ({{ artifactstatus.artifact_set.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- artifacts -->
{% if artifactstatus.artifact_set.all %}

    <!-- datatable artifact -->
    <table id="table_artifact" class="display" width="100%">

        <!-- table head -->
        <thead>
            {% include "dfirtrack_artifacts/includes/datatable_thead_table_artifact.html" %}
        </thead>

        <!-- table body -->
        <tbody>
            {% for i in artifactstatus.artifact_set.all %}
                {% include "dfirtrack_artifacts/includes/datatable_tbody_table_artifact.html" %}
            {% endfor %}
        </tbody>

    </table>

    <!-- javascript for datatables -->
    <script src="{% static 'dfirtrack_artifacts/datatables_artifacts.js' %}"></script>

<!-- no artifacts -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- artifacts -->
{% endif %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
