<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Domains
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Domains
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- domain id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- domain name headline -->
    <div class="col-2">
        Domain name
    </div>

    <!-- system headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- domain note headline -->
    <div class="col-8">
        Note
    </div>

<!-- headlines -->
</div>

<!-- domain list -->
{% for i in domain_list %}

    <!-- domain row -->
    <div class="row top-distance">

        <!-- domain id -->
        <div class="col-1">
            {{ i.domain_id }}
        </div>

        <!-- domain name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.domain_name }}
            </a>
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.system_set.all|length }}
        </div>

        <!-- domain note -->
        <div class="col-7">
            {% if i.domain_note %}
                {{ i.domain_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- domain row -->
    </div>

<!-- domain list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'domain_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add domain
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
