<!-- extending maintemplate -->
{% extends "dfirtrack_main/mainpopup.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    System markdown export config
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row col bottom-distance">
    <h4>
        System markdown export config
    </h4>
</div>

<!-- explanation text -->
<div class="row">
    <div class="col-12">
        <div class="card card-body bg-dark border-light top-distance bottom-distance copy-false">
            Define a path to export the markdown documentation.
            Also decide whether the export should be sorted by system or sorted by domain.
        </div>
    </div>
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- configuration block -->
    <div class="row">

        <div class="col-12">
            <div class="card card-body bg-dark border-light top-distance">

                <h5>
                    Configure system markdown export
                </h5>

                <!-- markdown_path -->
                <div class="row">

                    <div class="col top-distance bottom-distance">
                        {{ form.markdown_path.label }}
                    </div>

                </div>

                <div class="row">

                    <!-- placeholder -->
                    <div class="col-1">
                    </div>

                    <div class="col-11">
                        {% for i in form.markdown_path %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>

                <!-- markdown_path -->
                </div>

                <!-- markdown_sorting -->
                <div class="row">

                    <!-- markdown_sorting -->
                    <div class="col top-distance bottom-distance">
                        {{ form.markdown_sorting.label }}
                    </div>

                </div>

                <div class="row">

                    <!-- placeholder -->
                    <div class="col-1">
                    </div>

                    <div class="col-11">
                        {% for i in form.markdown_sorting %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>

                <!-- markdown_sorting -->
                </div>

            </div>
        </div>

    <!-- configuration block -->
    </div>

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-4">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel_popup.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
