<!-- extending maintemplate -->
{% extends "dfirtrack_main/mainpopup.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    System spreadsheet export config (XLS)
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row col bottom-distance">
    <h4>
        System spreadsheet export config (XLS)
    </h4>
</div>

<!-- explanation text -->
<div class="row">
    <div class="col-6">
        <div class="card card-body bg-dark border-light top-distance bottom-distance copy-false">
            Define the system attributes for exporting to a XLS file here.
            Note that the system name is mandatory of course.
            Different worksheets can also be selected for export.
        </div>
    </div>
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- system attributes block -->
    <div class="row">

        <div class="col-6">
            <div class="card card-body bg-dark border-light top-distance">

                <h5>
                    Choose system attributes to export
                </h5>

                <table>
                    {% for i in form %}
                        {% if 'worksheet' not in i.label %}
                            <tr><td>{{ i }}</td> <td>{{ i.label }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>

            </div>
        </div>

        <div class="col-6">
            <div class="card card-body bg-dark border-light top-distance">

                <h5>
                    Export additional worksheets that explain some attributes
                </h5>

                <table>
                    {% for i in form %}
                        {% if 'worksheet' in i.label %}
                            <tr><td>{{ i }}</td> <td>{{ i.label }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>

            </div>
        </div>

    <!-- system attributes block -->
    </div>

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-2">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel_popup.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
