<!-- extending maintemplate -->
{% extends "dfirtrack_main/mainpopup.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    System CSV file import config
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row col bottom-distance">
    <h4>
        System CSV file import config
    </h4>
</div>

<!-- explanation text -->
<div class="row">
    <div class="col">
        <div class="card card-body bg-dark border-light top-distance bottom-distance copy-false">
            You can choose how different system attributes are handled during automatic CSV file import.
        </div>
    </div>
</div>

<!-- form -->
<form method="POST" class="post-form">

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- outer row -->
    <div class="row">

        <!-- left column -->
        <div class="col-4">

            <!-- CSV file options settings block -->
            <div class="card card-body bg-dark border-light top-distance">

                <!-- CSV file options headline -->
                <h5 class="top-distance">
                    CSV file options
                </h5>

                <!-- csv_import_path - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_import_path.label }}
                    </div>
                </div>

                <!-- csv_import_path - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_import_path.errors }}
                    </div>
                </div>

                <!-- csv_import_path - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_import_path }}
                    </div>
                </div>

                <!-- csv_import_filename - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_import_filename.label }}
                    </div>
                </div>

                <!-- csv_import_filename - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_import_filename.errors }}
                    </div>
                </div>

                <!-- csv_import_filename - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_import_filename }}
                    </div>
                </div>

                <!-- csv_field_delimiter / csv_text_quote / csv_headline - labels -->
                <div class="row">
                    <div class="col-4 top-distance">
                        {{ form.csv_field_delimiter.label }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_text_quote.label }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_headline.label }}
                    </div>
                </div>

                <!-- csv_field_delimiter / csv_text_quote / csv_headline - fields -->
                <div class="row">
                    <div class="col-4 top-distance">
                        {{ form.csv_field_delimiter }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_text_quote }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_headline }}
                    </div>
                </div>

                <!-- csv_import_username - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_import_username.label }}
                    </div>
                </div>

                <!-- csv_import_username - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_import_username.errors }}
                    </div>
                </div>

                <!-- csv_import_username - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {% for i in form.csv_import_username %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>
                </div>


            <!-- CSV file options settings block -->
            </div>

        <!-- left column -->
        </div>

        <!-- middle column -->
        <div class="col-4">

            <!-- important import settings block -->
            <div class="card card-body bg-dark border-light top-distance">

                <!-- important import settings headline -->
                <h5>
                    Important import settings
                </h5>

                <!-- system -->
                <h6 class="text-warning top-distance">
                    Systems (*)
                </h6>

                <!-- system - labels -->
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        {{ form.csv_column_system.label }}
                    </div>
                </div>

                <!-- system - errors -->
                <div class="row">
                    <div class="text-danger">
                        {{ form.csv_column_system.errors }}
                    </div>
                </div>

                <!-- system - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_system }}
                    </div>
                </div>

                <!-- csv_skip_existing_system - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_skip_existing_system.label }}
                    </div>
                </div>

                <!-- csv_skip_existing_system - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_skip_existing_system }}
                    </div>
                </div>

                <!-- ip -->
                <h6 class="text-warning top-distance">
                    IP addresses
                </h6>

                <!-- ip - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_ip.label }}
                    </div>
                    <div class="col-4">
                        {{ form.csv_column_ip.label }}
                    </div>
                </div>

                <!-- ip - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_ip.errors }}
                        {{ form.csv_column_ip.errors }}
                    </div>
                </div>

                <!-- ip - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_ip }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_ip }}
                    </div>
                </div>

                <!-- csv_remove_ip / csv_ip_delimiter - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_ip.label }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_ip_delimiter.label }}
                    </div>
                </div>

                <!-- csv_remove_ip / csv_ip_delimiter - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_ip.errors }}
                    </div>
                </div>

                <!-- csv_remove_ip / csv_ip_delimiter - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_ip }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_ip_delimiter }}
                    </div>
                </div>

                <!-- systemstatus -->
                <h6 class="text-warning top-distance">
                    Systemstatus (*)
                </h6>

                <!-- systemstatus - labels -->
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_systemstatus.label }}
                    </div>
                </div>

                <!-- systemstatus - fields -->
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_systemstatus }}
                    </div>
                </div>

                <!-- systemstatus tagfree - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_choice_tagfree_systemstatus.label }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_tagfree_systemstatus.label }}
                    </div>
                </div>

                <!-- csv_default_tagfree_systemstatus - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_tagfree_systemstatus.errors }}
                    </div>
                </div>

                <!-- systemstatus tagfree - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_choice_tagfree_systemstatus }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_tagfree_systemstatus }}
                    </div>
                </div>

                <!-- csv_remove_systemstatus - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_systemstatus.label }}
                    </div>

                    <div class="col-6 top-distance">
                        {{ form.csv_tag_lock_systemstatus.label }}
                    </div>
                </div>

                <!-- csv_remove_systemstatus - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_systemstatus.errors }}
                    </div>
                </div>

                <!-- csv_remove_systemstatus - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_systemstatus }}
                    </div>

                    <div class="col-6 top-distance">
                        {{ form.csv_tag_lock_systemstatus }}
                    </div>
                </div>

                <!-- analysisstatus -->
                <h6 class="text-warning top-distance">
                    Analysisstatus (*)
                </h6>

                <!-- analysisstatus - labels -->
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_analysisstatus.label }}
                    </div>
                </div>

                <!-- analysisstatus - fields -->
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_analysisstatus }}
                    </div>
                </div>

                <!-- analysisstatus tagfree - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_choice_tagfree_analysisstatus.label }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_tagfree_analysisstatus.label }}
                    </div>
                </div>

                <!-- csv_default_tagfree_analysisstatus - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_tagfree_analysisstatus.errors }}
                    </div>
                </div>

                <!-- analysisstatus tagfree - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_choice_tagfree_analysisstatus }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_tagfree_analysisstatus }}
                    </div>
                </div>

                <!-- csv_remove_analysisstatus - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_analysisstatus.label }}
                    </div>

                    <div class="col-6 top-distance">
                        {{ form.csv_tag_lock_analysisstatus.label }}
                    </div>
                </div>

                <!-- csv_remove_analysisstatus - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_analysisstatus.errors }}
                    </div>
                </div>

                <!-- csv_remove_analysisstatus - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_analysisstatus }}
                    </div>

                    <div class="col-6 top-distance">
                        {{ form.csv_tag_lock_analysisstatus }}
                    </div>
                </div>

                <!-- tag -->
                <h6 class="text-warning top-distance">
                    Tags
                </h6>

                <!-- tag - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_tag.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_tag.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_tag.label }}
                    </div>
                </div>

                <!-- tag - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_tag.errors }}
                        {{ form.csv_column_tag.errors }}
                    </div>
                </div>

                <!-- tag - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_tag }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_tag }}
                    </div>
                    <div class="col-6 top-distance">
                        {% for i in form.csv_default_tag %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>
                </div>

                <!-- csv_remove_tag / csv_tag_delimiter - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_tag.label }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_tag_delimiter.label }}
                    </div>
                </div>

                <!-- csv_remove_tag / csv_tag_delimiter - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_tag.errors }}
                    </div>
                </div>

                <!-- csv_remove_tag / csv_tag_delimiter - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_remove_tag }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_tag_delimiter }}
                    </div>
                </div>

                <!-- csv_tag_prefix / csv_tag_prefix_delimiter - labels -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_tag_prefix.label }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_tag_prefix_delimiter.label }}
                    </div>
                </div>

                <!-- csv_tag_prefix / csv_tag_prefix_delimiter - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_tag_prefix.errors }}
                    </div>
                </div>

                <!-- csv_tag_prefix / csv_tag_prefix_delimiter - fields -->
                <div class="row">
                    <div class="col-6 top-distance">
                        {{ form.csv_tag_prefix }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_tag_prefix_delimiter }}
                    </div>
                </div>

            <!-- important import settings block -->
            </div>

        <!-- middle column -->
        </div>

        <!-- right column -->
        <div class="col-4">

            <!-- optional import settings block -->
            <div class="card card-body bg-dark border-light top-distance">

                <h5>
                    Optional import settings
                </h5>

                The following settings will be used for system CSV file import.
                Attributes can be set either via the file or from existing elements of the database.
                Be aware that in the latter case, the corresponding attribute is set for all systems.

                <!-- dnsname -->
                <h6 class="text-warning top-distance">
                    DNS name
                </h6>

                <!-- dnsname - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_dnsname.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_dnsname.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_dnsname.label }}
                    </div>
                </div>

                <!-- dnsname - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_dnsname.errors }}
                        {{ form.csv_column_dnsname.errors }}
                    </div>
                </div>

                <!-- dnsname - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_dnsname }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_dnsname }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_dnsname }}
                    </div>
                </div>

                <!-- csv_remove_dnsname - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_dnsname.label }}
                    </div>
                </div>

                <!-- csv_remove_dnsname - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_dnsname.errors }}
                    </div>
                </div>

                <!-- csv_remove_dnsname - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_dnsname }}
                    </div>
                </div>

                <!-- domain -->
                <h6 class="text-warning top-distance">
                    Domain
                </h6>

                <!-- domain - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_domain.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_domain.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_domain.label }}
                    </div>
                </div>

                <!-- domain - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_domain.errors }}
                        {{ form.csv_column_domain.errors }}
                    </div>
                </div>

                <!-- domain - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_domain }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_domain }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_domain }}
                    </div>
                </div>

                <!-- csv_remove_domain - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_domain.label }}
                    </div>
                </div>

                <!-- csv_remove_domain - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_domain.errors }}
                    </div>
                </div>

                <!-- csv_remove_domain - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_domain }}
                    </div>
                </div>

                <!-- location -->
                <h6 class="text-warning top-distance">
                    Location
                </h6>

                <!-- location - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_location.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_location.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_location.label }}
                    </div>
                </div>

                <!-- location - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_location.errors }}
                        {{ form.csv_column_location.errors }}
                    </div>
                </div>

                <!-- location - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_location }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_location }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_location }}
                    </div>
                </div>

                <!-- csv_remove_location - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_location.label }}
                    </div>
                </div>

                <!-- csv_remove_location - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_location.errors }}
                    </div>
                </div>

                <!-- csv_remove_location - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_location }}
                    </div>
                </div>

                <!-- os -->
                <h6 class="text-warning top-distance">
                    OS
                </h6>

                <!-- os - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_os.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_os.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_os.label }}
                    </div>
                </div>

                <!-- os - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_os.errors }}
                        {{ form.csv_column_os.errors }}
                    </div>
                </div>

                <!-- os - errors -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_os }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_os }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_os }}
                    </div>
                </div>

                <!-- csv_remove_os - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_os.label }}
                    </div>
                </div>

                <!-- csv_remove_os - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_os.errors }}
                    </div>
                </div>

                <!-- csv_remove_os - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_os }}
                    </div>
                </div>

                <!-- reason -->
                <h6 class="text-warning top-distance">
                    Reason
                </h6>

                <!-- reason - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_reason.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_reason.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_reason.label }}
                    </div>
                </div>

                <!-- reason - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_reason.errors }}
                        {{ form.csv_column_reason.errors }}
                    </div>
                </div>

                <!-- reason - errors -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_reason }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_reason }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_reason }}
                    </div>
                </div>

                <!-- csv_remove_reason - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_reason.label }}
                    </div>
                </div>

                <!-- csv_remove_reason - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_reason.errors }}
                    </div>
                </div>

                <!-- csv_remove_reason - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_reason }}
                    </div>
                </div>

                <!-- recommendation -->
                <h6 class="text-warning top-distance">
                    Recommendation
                </h6>

                <!-- recommendation - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_recommendation.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_recommendation.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_recommendation.label }}
                    </div>
                </div>

                <!-- recommendation - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_recommendation.errors }}
                        {{ form.csv_column_recommendation.errors }}
                    </div>
                </div>

                <!-- recommendation - errors -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_recommendation }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_recommendation }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_recommendation }}
                    </div>
                </div>

                <!-- csv_remove_recommendation - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_recommendation.label }}
                    </div>
                </div>

                <!-- csv_remove_recommendation - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_recommendation.errors }}
                    </div>
                </div>

                <!-- csv_remove_recommendation - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_recommendation }}
                    </div>
                </div>

                <!-- serviceprovider -->
                <h6 class="text-warning top-distance">
                    Serviceprovider
                </h6>

                <!-- serviceprovider - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_serviceprovider.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_serviceprovider.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_serviceprovider.label }}
                    </div>
                </div>

                <!-- serviceprovider - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_serviceprovider.errors }}
                        {{ form.csv_column_serviceprovider.errors }}
                    </div>
                </div>

                <!-- serviceprovider - errors -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_serviceprovider }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_serviceprovider }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_serviceprovider }}
                    </div>
                </div>

                <!-- csv_remove_serviceprovider - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_serviceprovider.label }}
                    </div>
                </div>

                <!-- csv_remove_serviceprovider - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_serviceprovider.errors }}
                    </div>
                </div>

                <!-- csv_remove_serviceprovider - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_serviceprovider }}
                    </div>
                </div>

                <!-- systemtype -->
                <h6 class="text-warning top-distance">
                    Systemtype
                </h6>

                <!-- systemtype - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_systemtype.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_systemtype.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_systemtype.label }}
                    </div>
                </div>

                <!-- systemtype - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_systemtype.errors }}
                        {{ form.csv_column_systemtype.errors }}
                    </div>
                </div>

                <!-- systemtype - errors -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_systemtype }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_systemtype }}
                    </div>
                    <div class="col-6 top-distance">
                        {{ form.csv_default_systemtype }}
                    </div>
                </div>

                <!-- csv_remove_systemtype - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_systemtype.label }}
                    </div>
                </div>

                <!-- csv_remove_systemtype - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_systemtype.errors }}
                    </div>
                </div>

                <!-- csv_remove_systemtype - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_systemtype }}
                    </div>
                </div>

                <!-- case -->
                <h6 class="text-warning top-distance">
                    Cases
                </h6>

                <!-- case - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_case.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_case.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_case.label }}
                    </div>
                </div>

                <!-- case - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_case.errors }}
                        {{ form.csv_column_case.errors }}
                    </div>
                </div>

                <!-- case - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_case }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_case }}
                    </div>
                    <div class="col-6 top-distance">
                        {% for i in form.csv_default_case %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>
                </div>

                <!-- csv_remove_case - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_case.label }}
                    </div>
                </div>

                <!-- csv_remove_case - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_case.errors }}
                    </div>
                </div>

                <!-- csv_remove_case - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_case }}
                    </div>
                </div>

                <!-- company -->
                <h6 class="text-warning top-distance">
                    Companies
                </h6>

                <!-- company - labels -->
                <div class="row">
                    <div class="col-2">
                        {{ form.csv_choice_company.label }}
                    </div>
                    <div class="col-3">
                        {{ form.csv_column_company.label }}
                    </div>
                    <div class="col-1">
                        {% include "dfirtrack_config/includes/button_or.html" %}
                    </div>
                    <div class="col-6">
                        {{ form.csv_default_company.label }}
                    </div>
                </div>

                <!-- company - errors -->
                <div class="row">
                    <div class="col text-danger">
                        {{ form.csv_choice_company.errors }}
                        {{ form.csv_column_company.errors }}
                    </div>
                </div>

                <!-- company - fields -->
                <div class="row">
                    <div class="col-2 top-distance">
                        {{ form.csv_choice_company }}
                    </div>
                    <div class="col-4 top-distance">
                        {{ form.csv_column_company }}
                    </div>
                    <div class="col-6 top-distance">
                        {% for i in form.csv_default_company %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>
                </div>

                <!-- csv_remove_company - labels -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_company.label }}
                    </div>
                </div>

                <!-- csv_remove_company - errors -->
                <div class="row">
                    <div class="col-6 text-danger">
                        {{ form.csv_remove_company.errors }}
                    </div>
                </div>

                <!-- csv_remove_company - fields -->
                <div class="row">
                    <div class="col top-distance">
                        {{ form.csv_remove_company }}
                    </div>
                </div>

            <!-- optional import settings block -->
            </div>

        <!-- right column -->
        </div>

    <!-- outer row -->
    </div>

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-2">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel_popup.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>

<!-- HTML body in maintemplate -->
{% endblock %}
