<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - IPs
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            IP addresses
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- ip id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- ip address headline -->
    <div class="col-2">
        IP address
    </div>

    <!-- systems number headline -->
    <div class="col-8">
        Systems
    </div>

<!-- headlines -->
</div>

<!-- ip list -->
{% for i in ip_list %}

    <!-- ip row -->
    <div class="row top-distance">

        <!-- ip id -->
        <div class="col-1">
            {{ i.ip_id }}
        </div>

        <!-- ip address -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.ip_ip }}
            </a>
        </div>

        <!-- systems number -->
        <div class="col-8">
            {{ i.system_set.all|length }}
        </div>

    <!-- ip row -->
    </div>

<!-- ip list -->
{% endfor %}

<!-- HTML body in maintemplate -->
{% endblock %}
