<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<title>
    DFIRTrack - Divisions
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Divisions
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- division id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- division name headline -->
    <div class="col-2">
        Division name
    </div>

    <!-- division note headline -->
    <div class="col-8">
        Note
    </div>

<!-- headlines -->
</div>

<!-- division list -->
{% for i in division_list %}

    <!-- division row -->
    <div class="row top-distance">

        <!-- division id -->
        <div class="col-1">
            {{ i.division_id }}
        </div>

        <!-- division name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.division_name }}
            </a>
        </div>

        <!-- division note -->
        <div class="col-8">
            {% if i.division_note %}
                {{ i.division_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- division row -->
    </div>

<!-- division list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'division_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add division
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
