<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - OS-Importnames
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Importnames for operating systems
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- osimportname id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- osimportname name headline -->
    <div class="col-2">
        OS-Importnames
    </div>

    <!-- operating system headline -->
    <div class="col-2">
        Operating system
    </div>

    <!-- importer headline -->
    <div class="col-6">
        Importer
    </div>

<!-- headlines -->
</div>

<!-- osimportname list -->
{% for i in osimportname_list %}

    <!-- osimportname row -->
    <div class="row top-distance">

        <!-- osimportname id -->
        <div class="col-1">
            {{ i.osimportname_id }}
        </div>

        <!-- osimportname name -->
        <div class="col-2">
            {{ i.osimportname_name }}
        </div>

        <!-- operating system -->
        <div class="col-2">
            <a href="{{ i.os.get_absolute_url }}">
                {{ i.os.os_name }}
            </a>
        </div>

        <!-- importer -->
        <div class="col-6">
            {{ i.osimportname_importer }}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- osimportname row -->
    </div>

<!-- osimportname list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'osimportname_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add OS-Importname
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
