<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>DFIRTrack - All tasks</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col-3">
        <h5>
            All tasks
        </h5>
    </div>

    <!-- open tasks button -->
    <div class="col-2">
        <a href="{% url 'task_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/task.svg' %}" class="icon right-distance copy-false" alt="icon">
            Open tasks
        </a>
    </div>

    <!-- closed tasks button -->
    <div class="col-2">
        <a href="{% url 'task_closed' %}" type="button" class="btn btn-light copy-false" disabled>
            <img src="{% static 'dfirtrack_main/icons/task.svg' %}" class="icon right-distance copy-false" alt="icon">
            Closed tasks
        </a>
    </div>

    <!-- all tasks button -->
    <div class="col-2">
        <button class="btn btn-light copy-false" disabled>
            <img src="{% static 'dfirtrack_main/icons/task.svg' %}" class="icon right-distance copy-false" alt="icon">
            All tasks
        </button>
    </div>

<!-- headline -->
</div>

<!-- datatable task closed -->
<table id="table_task" class="display" width="100%">

    <!-- table head -->
    <thead>
        {% include "dfirtrack_main/includes/datatable_thead_table_task.html" %}
    </thead>

    <!-- table body -->
    <tbody>
        {% for i in task_list %}
            {% include "dfirtrack_main/includes/datatable_tbody_table_task.html" %}
        {% endfor %}
    </tbody>

<!-- datatable task closed -->
</table>

<!-- javascript for datatables -->
<script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
