code, .rst-content tt, .rst-content code {
    white-space: nowrap;
    max-width: 100%;
    background: transparent;
    border: none;
    font-size: 92%;
    padding: 0;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    color: #9966cc;
    overflow-x: auto
}

.reference.external code {
    font-family: inherit;
}

.rst-content img {
    margin-bottom: 1em;
    max-width: 100%;
    height: auto !important;
}

.rst-content .section>img, .rst-content .section>a>img {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.rst-content .section {
    clear: both;
}