<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Entries importer
</title>

{% load static %}

<!-- custom javascript -->
<script src="{% static 'dfirtrack_main/dfirtrack/dfirtrack.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}
        
<!-- headline -->
<div class="bottom-distance">
    <h4>
        Import entries via file
    </h4>
</div>

<!-- form -->
<form method="POST" class="post-form" enctype="multipart/form-data">

    <!-- button row -->
    <div class="row">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

    {% csrf_token %}

    <!-- show form related errors -->
    {% include "dfirtrack_main/includes/form_errors.html" %}

    <!-- system block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- system headline -->
        <div class="row">
            <div class="col">
                <h5>
                    System (*):
                </h5>
            </div>
        </div>

        <!-- system -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- system errors -->
                    <div class="text-danger">
                        {{ form.system.errors }}
                    </div>
                    {{ form.system }}
                </div>
            </div>
        </div>

    <!-- system block -->
    </div>

    <!-- file block -->
    <div class="card card-body bg-dark border-light top-distance">

        <!-- file headline -->
        <div class="row">
            <div class="col">
                <h5>
                    Entryfile (*):
                </h5>
            </div>
        </div>

        <!-- file -->
        <div class="row">
            <div class="col-3">
                <div class="card card-body bg-dark border-light top-distance">
                    <!-- file errors -->
                    <div class="text-danger">
                        {{ form.entryfile.errors }}
                    </div>
                    {{ form.entryfile }}
                </div>
            </div>

            <!-- file requirement description -->
            <div class="col-6">

                <!-- file requirement text -->
                <p><b>First and second line of file are expected to be markdown table head and are therefore truncated. Doubled entries or already existing entries will be skipped.</b></p>
                <p>Table is expected to be in markdown format with '|' (pipe) delimiter.</p>
                <p>Expected table format (example):</p>

                <!-- file requirement example -->
                <div class="row">
                    <div class="col-2">
                        | [DATE]
                    </div>
                    <div class="col-2">
                        | [TIME]
                    </div>
                    <div class="col-2">
                        | [SYSTEM]
                    </div>
                    <div class="col-2">
                        | [TYPE]
                    </div>
                    <div class="col-2">
                        | [CONTENT]
                    </div>
                    <div class="col-2">
                        |
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        | :---:
                    </div>
                    <div class="col-2">
                        | :---:
                    </div>
                    <div class="col-2">
                        | :---:
                    </div>
                    <div class="col-2">
                        | :---:
                    </div>
                    <div class="col-2">
                        | :----
                    </div>
                    <div class="col-2">
                        |
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        | 2018-07-06
                    </div>
                    <div class="col-2">
                        | 12:34:56
                    </div>
                    <div class="col-2">
                        | server1
                    </div>
                    <div class="col-2">
                        | Shimcache
                    </div>
                    <div class="col-2">
                        | evil.exe
                    </div>
                    <div class="col-2">
                        |
                    </div>
                <!-- file requirement example -->
                </div>

            <!-- file requirement description -->
            </div>

        <!-- file -->
        </div>

    <!-- file block -->
    </div>

    <!-- button row -->
    <div class="row top-distance">

        <!-- save button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_save.html" %}
        </div>

        <!-- cancel button -->
        <div class="col-1">
            {% include "dfirtrack_main/includes/button_cancel.html" %}
        </div>

    <!-- button row -->
    </div>

<!-- form -->
</form>
    
<!-- HTML body in maintemplate -->
{% endblock %}
