<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Reasons
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Reasons
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- reason id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- reason name headline -->
    <div class="col-2">
        Reason for investigation
    </div>

    <!-- system headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- reason note headline -->
    <div class="col-8">
        Note
    </div>


<!-- headlines -->
</div>

<!-- reason list -->
{% for i in reason_list %}

    <!-- reason row -->
    <div class="row top-distance">

        <!-- reason id headline -->
        <div class="col-1">
            {{ i.reason_id }}
        </div>

        <!-- reason name headline -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.reason_name }}
            </a>
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.system_set.all|length }}
        </div>

        <!-- reason note headline -->
        <div class="col-7">
            {% if i.reason_note %}
                {{ i.reason_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

        <!-- edit button -->
        <div class="col-1">
            <a href="{{ i.get_update_url }}" type="button" class="btn btn-sm btn-light copy-false">
                <img src="{% static 'dfirtrack_main/icons/pencil.svg' %}" class="icon-sm right-distance copy-false" alt="icon">
                Edit
            </a>
        </div>

    <!-- reason row -->
    </div>

<!-- reason list -->
{% endfor %}

<!-- add button -->
<div class="row top-distance">
    <div class="col-1">
        <a href="{% url 'reason_create' %}" type="button" class="btn btn-light copy-false">
            <img src="{% static 'dfirtrack_main/icons/plus.svg' %}" class="icon right-distance copy-false" alt="icon">
            Add reason
        </a>
    </div>
</div>

<!-- HTML body in maintemplate -->
{% endblock %}
