<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    DFIRTrack - Analysisstatus
</title>

{% load static %}

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- headline -->
<div class="row bottom-distance">
    <div class="col">
        <h5>
            Analysisstatus
        </h5>
    </div>
</div>

<!-- headlines -->
<div class="row font-weight-bold">

    <!-- analysisstatus id headline -->
    <div class="col-1">
        ID
    </div>

    <!-- analysisstatus name headline -->
    <div class="col-2">
        Analysisstatus
    </div>

    <!-- system headline -->
    <div class="col-1">
        Systems
    </div>

    <!-- analysisstatus note headline -->
    <div class="col-8">
        Note
    </div>

<!-- headlines -->
</div>

<!-- analysisstatus list -->
{% for i in analysisstatus_list %}

    <!-- analysisstatus row -->
    <div class="row top-distance">

        <!-- analysisstatus id -->
        <div class="col-1">
            {{ i.analysisstatus_id }}
        </div>

        <!-- analysisstatus name -->
        <div class="col-2">
            <a href="{{ i.get_absolute_url }}">
                {{ i.analysisstatus_name }}
            </a>
        </div>

        <!-- system -->
        <div class="col-1">
            {{ i.analysisstatus.all|length }}
        </div>

        <!-- analysisstatus note -->
        <div class="col-8">
            {% if i.analysisstatus_note %}
                {{ i.analysisstatus_note|linebreaks }}
            {% else %}
                ---
            {% endif %}
        </div>

    <!-- analysisstatus row -->
    </div>

<!-- analysisstatus list -->
{% endfor %}

<!-- HTML body in maintemplate -->
{% endblock %}
