<!-- extending maintemplate -->
{% extends "dfirtrack_main/maintemplate.html" %}

<!-- HTML head in maintemplate -->
{% block head %}

<!-- page title -->
<title>
    Analysisstatus '{{ analysisstatus.analysisstatus_name }}'
    {% if analysisstatus.analysisstatus.all %}
        (s: {{ analysisstatus.analysisstatus.all|length }})
    {% endif %}
</title>

{% load static %}

<!-- javascript and CSS for datatables -->
<link rel="stylesheet" type="text/css" href="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.css' %}"/>
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.js' %}"></script>

<!-- HTML head in maintemplate -->
{% endblock %}

<!-- ############################################ -->

<!-- HTML body in maintemplate -->
{% block content %}

<!-- up button -->
<div class="row bottom-distance">
    <div class="col-3">
        <a href="{% url 'analysisstatus_list' %}" type="button" class="btn btn-light copy-false">
            <img src="{%static 'dfirtrack_main/icons/arrow-circle-top.svg' %}" class="icon right-distance copy-false" alt="icon">
            Up to analysisstatus
        </a>
    </div>
</div>

<!-- javascript for copy button -->
<script>
    var clipboard = new ClipboardJS('.btn');
</script>

<!-- headline row -->
<div class="row">

    <!-- headline -->
    <div class="col-3">
        <h5>
            Analysisstatus "{{ analysisstatus.analysisstatus_name }}"
        </h5>
    </div>

    <!-- copy button -->
    <div class="col-3">
        {% if analysisstatus.analysisstatus.all %}
            {% with systems=analysisstatus.analysisstatus.all %}
                {% include "dfirtrack_main/includes/button_copy_hostnames.html" %}
            {% endwith %}
        {% endif %}
    </div>

<!-- headline row -->
</div>

<!-- analysisstatus id -->
<div class="row bottom-distance">
    <div class="col-3">
        <small class="text-muted">
            Analysisstatus-ID: {{ analysisstatus.analysisstatus_id }}
        </small>
    </div>
</div>

<!-- analysisstatus note headline -->
<div class="row">
    <div class="col-3">
        <h5>
            Note
        </h5>
    </div>
</div>

<!-- analysisstatus note -->
<div class="row bottom-distance">
    <div class="col">
        {% if analysisstatus.analysisstatus_note %}
            {{ analysisstatus.analysisstatus_note|linebreaks }}
        {% else %}
            ---
        {% endif %}
    </div>
</div>

<!-- system headline -->
<div class="row bottom-distance">
    <div class="col-6">
        <h5>
            Systems with this analysisstatus{% if analysisstatus.analysisstatus.all %} ({{ analysisstatus.analysisstatus.all|length }}){% endif %}
        </h5>
    </div>
</div>

<!-- systems -->
{% if analysisstatus.analysisstatus.all %}

    <!-- datatable system -->
    <table id="table_system" class="display" width="100%">
    
        <!-- table head -->
        <thead>
            {% include "dfirtrack_main/includes/datatable_thead_table_system.html" %}
        </thead>
        
        <!-- table body -->
        <tbody>
        </tbody>

    <!-- datatable system -->
    </table>
    
    <!-- javascript for datatables -->
    <script src="{% static 'dfirtrack_main/dfirtrack/datatables_dfirtrack.js' %}"></script>

<!-- no systems -->
{% else %}
    <div class="row top-distance">
        <div class="col-3">
            ---
        </div>
    </div>

<!-- systems -->
{% endif %}

<!-- javascript for datatables -->
{% block datatables %}
<script src="{% static 'dfirtrack_main/datatables-1.10.16/datatables.min.js' %}"></script>
{% endblock %}

<!-- HTML body in maintemplate -->
{% endblock %}
