[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
loguru = "*"
python-evtx = "*"
lxml = "*"
neo4j = "*"
flask = "*"
flask-sqlalchemy = "*"
requests = "*"
gunicorn = "*"
future = "==0.16.0"
pydgraph = "*"
pandas = "*"
graphistry = {extras = ["networkx"],version = "==0.9.63"}
splunk-sdk = "*"
elasticsearch = "*"
flask-cors = "*"

[dev-packages]
"flake8" = "*"
black = "*"
"flake8-type-annotations" = "*"
ipython = "*"
grave = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
mypy = "*"
pytest = "==4.0.0"
sphinx = "*"
recommonmark = "*"
ipykernel = "*"
mock = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
web = "bash -c 'export FLASK_ENV=development FLASK_APP=beagle/web/server && flask run --port 8000 --host 0.0.0.0'"
web_prod = "bash -c 'gunicorn --bind 0.0.0.0:8000 -w 1 beagle.web.wsgi:app'"
build_js = "bash -c 'cd ~/dev/beagle/beagle/web/static; npm run build'"
build_docs = "bash -c 'sphinx-apidoc -o docs beagle/ -f ; cd docs ; make html'"
