<div id="form" style="width: 100%;">
    <div class="w2ui-page page-0">
        <div class="w2ui-field">
            <label>Case ID:</label>
            <div>
                <input name="caseid" type="text" maxlength="100" size="60"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Client:</label>
            <div>
                <input name="client" type="text" maxlength="100" size="60"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Start Date:</label>
            <div>
                <input name="start_date" type="text" maxlength="100" size="60"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Summary</label>
            <div>
                <textarea name="summary" type="text" style="width: 100%; height: 80px; resize: none"></textarea>
            </div>
        </div>
    </div>
    <div class="w2ui-page page-1">
        <div class="w2ui-field">
            <label>MISP Server URL:</label>
            <div>
                <input name="mispserver" type="text" maxlength="100" value="https://" style="width: 100%"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>MISP API Key:</label>
            <div>
                <input name="mispapikey" type="text" maxlength="100" style="width: 100%"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>MISP Event ID:</label>
            <div>
                <input name="mispeventid" type="text" maxlength="100" style="width: 100%"/>
            </div>
        </div>
        <div style="text-align: center">
            <button class="w2ui-btn" name="testmispconnection">Test MISP Connection</button>
        </div>
    </div>
    <div class="w2ui-page page-2">

        <div class="w2ui-field">
            <label>VT API Key:</label>
            <div>
                <input name="vtapikey" type="text" maxlength="100" style="width: 100%"/>
            </div>
        </div>
        <div style="text-align: center">
            <button class="w2ui-btn" name="testvtconnection" style="widthh:100%">Test VT Connection</button>
        </div>


    </div>





    <div class="w2ui-buttons">
        <button class="w2ui-btn" name="save">Save</button>
    </div>
</div>