[run]
omit =
  */tests/*
  */migrations/*
  */settings/*
source =
  .

[report]
exclude_lines =
  def __repr__
  pass
  pragma: no cover
  raise NotImplementedError
omit =
  */tests/*
  */migrations/*
  */settings/*

[paths]
source =
  cyphon
  .tox/*/lib/python*/site-packages/cyphon
  .tox/pypy*/site-packages/cyphon
